@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';
@use 'swiper/css/autoplay'; // Nếu sử dụng autoplay
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  // font-family: 'Poppins', sans-serif !important;
}
.text-primary
{
  font-family: 'Roboto', sans-serif;
  // font-family: 'Poppins', sans-serif !important;
}


.cdk-header-cell
{
  white-space: nowrap;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #ddd;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #00256e;
}
// mat-snack-bar-container{
//   margin:15% !important
// }

// .mdc-snackbar__surface{
//   background-color:white !important;
// }
// .success .mdc-snackbar__label{
//   color: #5cb85c !important;
// }
// .danger .mdc-snackbar__label{
//   color: #D9534F !important;
// }
// .warning .mdc-snackbar__label{
//   color: #F0AD4E !important;
// }
// .info .mdc-snackbar__surface{
//   color: 5BC0DE !important;
// }
.input-edit.mat-column-STT {
  width: 10px !important;
}
.mat-column-id {
  display: none !important;
}
.input-edit.mat-column-Soluong,
.input-edit.mat-column-SLTG,
.input-edit.mat-column-SLTN
{
  text-align: right !important;
  max-width: 40px !important;
}
.mat-column-Tongtien,
.mat-column-TongtienG,
.mat-column-TongtienN {
  text-align: right !important;
}

.admin .mat-mdc-row
{
  height: 30px;
}

.text-md.mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 32px;
  padding: 4px;
}


.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  // color: var(--mdc-snackbar-supporting-text-color, var(--mat-sys-inverse-on-surface));
  // border-radius: var(--mdc-snackbar-container-shape, var(--mat-sys-corner-extra-small));
  background-color: transparent !important
}

/* Custom styles for MatSnackBar */
.snackbar-success {
  background-color: #3f51b5; /* Green */
  color: white;
  border-radius: 5px;
}

.snackbar-warning {
  background-color: #ff9800; /* Orange */
  color: white;
  border-radius: 5px;
}

.snackbar-error {
  background-color: #f44336; /* Red */
  color: white;
  border-radius: 5px;
}
// .danger .mdc-snackbar__surface{
//   color: white !important;
//   background-color:#D9534F !important;
// }
// .warning .mdc-snackbar__surface{
//   color: white !important;
//   background-color:#F0AD4E !important;
// }
// .info .mdc-snackbar__surface{
//   color: white !important;
//   background-color:#5BC0DE !important;
// }
.p-sidebar-mask
{
  z-index: 1 !important;
}
.bg-primary
{
  background-color: #e22026 !important;
}
.bg-primary-400
{
  background-color: #e8686c !important;
}
.mdc-notched-outline__notch
{
  border: 0;
}
.mdc-dialog .mdc-dialog__content {
  padding: 15px;
}
.mdc-data-table__cell, .mdc-data-table__header-cell{
  padding: 5px 10px !important;
}
// .mat-mdc-form-field-bottom-align
// {
//   height: 0;
// }
.cdk-overlay-pane
{
  max-width: 100vw !important;
}
.loading-page
{
  background-color: black;
  opacity: 0.6;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.PDFVIEW .mat-mdc-dialog-content{
  max-height: 100vh !important;
}

.text-sm .mdc-text-field--outlined .mat-mdc-form-field-infix, .mdc-text-field--no-label .mat-mdc-form-field-infix
{
  min-height: 0 !important;
  padding: 0.5rem 0.5rem 0.5rem 0.25rem !important;
}
.text-sm .mdc-text-field--outlined
{
  padding: 0 !important;
}
.text-sm .mat-mdc-form-field-icon-prefix>.mat-icon,.text-sm .mat-mdc-form-field-icon-suffix>.mat-icon {
  padding: 0 6px;
  box-sizing: content-box;
}
// .text-sm .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
//   top: 50%!important;
// }

@media print {
  #nonPrintable {
    display: none;
  }
  /* Add your additional print styles here */
  #printArea {
    font-size: 12px; /* Example print style */
  }
}
router-outlet+* {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  flex-direction: column;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
