<div class="container">
  <h1>Simple Tower Defense</h1>

  <div class="game-info">
    <div>💰 Tiền: {{ money() }}</div> <div>❤️ Mạng: {{ lives() }}</div> <div>Trạng thái: {{ gameStatus() | uppercase }}</div> </div>

    @if (gameStatus() === 'gameOver') {
      <div class="game-over">
        <h2>GAME OVER!</h2>
        <button (click)="restartGame()">Chơi lại</button>
      </div>
    }

    @if (gameStatus() === 'waiting') {
      <div class="start-game">
        <button (click)="startGame()">Bắt đầu đợt lính</button>
      </div>
    }


    <div class="toolbar">
      <h3>Xây tháp:</h3>
      @for (towerType of towerTypesList; track towerType) {
        <button
          [disabled]="money() < towerType.cost"
          [ngClass]="{'selected': selectedTowerTypeToBuild() === towerType.type}"
          (click)="selectTowerToBuild(towerType.type)">
          {{ towerType.type | uppercase }} ({{ towerType.cost }}💰)
        </button>
      }
      <button [ngClass]="{'selected': selectedTowerTypeToBuild() === null}"
        (click)="selectTowerToBuild(null)">
        Hủy chọn
      </button>
    </div>

    <app-game-area
    [enemies]="enemies()" [towers]="towers()"   [buildSpots]="buildSpots()" [selectedTowerType]="selectedTowerTypeToBuild()" (buildTower)="handleBuildTower($event)"> </app-game-area>

  </div>