node_modules
.env
.git
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
.idea
.DS_Store
storage
uploads
backup
docs
*.pdf
*.xlsx
*.xlsb
*.json
!package.json
!package-lock.json
!angular.json
!tsconfig.json
!tsconfig.app.json
!tsconfig.spec.json
!karma.conf.js
!src/assets
!src/theme
!src/environments
!src/favicon.ico
!src/index.html
!src/main.ts
!src/polyfills.ts
!src/styles.scss
!src/test.ts
!src/app
