services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: yourpassword
      POSTGRES_DB: rausachv2
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: yourpassword
    ports:
      - "5050:80"
    depends_on:
      - postgres  

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]

  berausach:
    build: ./api
    restart: always
    ports:
      - "3331:3331"
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      DATABASE_URL: postgres://postgres:yourpassword@postgres:5432/rausachv2
    depends_on:
      - postgres
      - redis

  ferausach:
    build: ./frontend
    restart: always
    ports:
      - "4301:4301"
    environment:
      - NODE_ENV=production
    depends_on:
      - berausach

volumes:
  pg_data:
  redis_data:
