services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: AWois79wFA1bxMK
      POSTGRES_PASSWORD: 7bhNHJcSEbWln9v
      POSTGRES_DB: rausachv2
    ports:
      - "5432:5432"
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@rausachtrangia.com
      PGADMIN_DEFAULT_PASSWORD: 7bhNHJcSEbWln9v
    ports:
      - "5050:80"
    depends_on:
      - postgres  
  berausach:
    build: ./api
    restart: always
    ports:
      - "3331:3331"
    environment:
      - DATABASE_URL=postgresql://AWois79wFA1bxMK:7bhNHJcSEbWln9v@116.118.49.243:5432/rausachv2?schema=public
      - GOOGLE_CLIENT_ID=897974685698-efprsqffgop935h5d5l2lidle1go9i17.apps.googleusercontent.com
      - GOOGLE_CLIENT_SECRET=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
      - FACEBOOK_CLIENT_ID=your-facebook-client-id
      - FACEBOOK_CLIENT_SECRET=your-facebook-client-secret
      - ZALO_APP_ID=your-zalo-app-id
      - ZALO_APP_SECRET=your-zalo-app-secret
      - BASE_URL=https://sandbox2.rausachtrangia.com
      - SERVER_URL=https://sandboxapi2.rausachtrangia.com
      - PORT=3331
      - SHARED_DRIVE_ID="0AKQL50NKsue5Uk9PVA"
      - SHARED_UPLOAD_DRIVE_ID="1NRpIjEcyDJZLOthIC0VYTAFUWp1kYKZG"
      - GOOGLE_API_KEY="AIzaSyAcLy3dOt27BgxkDSAY7fRm0jbwlzPo-80"
      - GOOGLE_APPLICATION_CREDENTIALS_JSON='{"type":"service_account","project_id":"silent-concept-436602-d1","private_key_id":"ef2c6c133481ff90abf5344dba759b1d70d940b1","private_key":"-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDH73JvIURgqeJD\nQig554hjuTx3JDFbYo2SkBEwqyTyH23YuwQk4lg8hnUX3m+ZgcQQF5Gw3AXY9kIP\nBXJMmaUPtAzCrrw2fq3CMULJPw4nrrwAv1pwuOSi418yb2T5SVP1P1FSK3wlxPpg\n+o/1tVwOWFW/PKfcYo9kHRsObkyZDLvocNQVYGAhQLuOTrnokeEbvmCXt2Eggms8\nukqdrOJEI9rM9Ox7juf/GWMLy3wkdyLUhjLB4Fl/3nNZh+BJRctBvM979dcotmmv\nPC04K3078OOW3PVtmWhpcuRlU4hjzLTd7rQyoSbbf8X4SimzOhg/y4+1eEV+/tXV\n/08ifibPAgMBAAECggEASpqcKkCRGbq6fZtllDnDiGaZ2+Eq860iI6LTb0QlXJ2C\nqSEbqkG1aBxJ/BaZsP+db93DlOl82xkEzEMdg9y/HU1zh3+ZJoJ9ht1HzP1U5FTM\nvUCp2C79zZQnNRQg6u5EQFqYlx83y4YlYWONrUM3rviiQmI5RsCWPeaobmmU9nSC\nyvp3WZ/Iie5PNoYujO1wkR7IcJSpDt+25Oqr1RwzYUYNyEI8YcWhjEmVjHIlIcob\nOJz/m2EdOoWsmho++qh3WAkbxpbUWu38dKuP9wqeKI5ssPo27e7Z+jIhC8xemQYy\nD9yWCG4iiXhAINmTJ1pDzKl8mn3i5J9kYTAXou4xVQKBgQD54Gi0/v8ZjVQxCaWU\ns581jnyYRwTnqe+fACgfMZ25/aks+nZ6ZBAV4IxBUHG3kChXUr6kNG2YeWH4s9TK\nJYyDVLe1NZE7dIRL4kkpDRDltai1g1+q2RZjDMzOrwC/K83BDJhaTbcmEdnT+a4+\nNP18Zz3mZLSWV7e48pNCC9u7ZQKBgQDM1bvFlNupCUwp0rmPHVzYnMsuDHvf/ZOZ\n3yUWCDy7UKUN+K6604du1RvUGlrTCslxXx3EaJoyqJtBRFbv9lP5CSuGEku5sXW+\nXRQMR8KjrTKLXdJJEN5T09Sj/UDICspKRUSuepb9JMHSWPRjc5YDQkwQQG8LANWy\nrMhOUSDoIwKBgQCD2kymJWBLBW6Fqcd73gSG6DcKy37lF6Dfz99cBnxqJlXc7BUU\npDRwttqLpH09FY6T9Y+vahLiwDpYV9xTBtlMe6msryWBsAwXVsKwLLrb2624iigz\nKPZNMfXooiPMvLqHwbOrAxM/vW+qEThGjwOrX3ckWcOJCaRirW3TDhrWmQKBgQC8\n3eZBDDxt5BDCD3bhKuXNJOWDFCe0JI/QNRxw8C9vV7CY7U/PG/Ookf8S1yofpbaQ\nPm+oBfsH8scUqvquT6al3XqwKHaCRcqXOCOgHxqs6KnOLzgR/ufAy3Upr/3ndWuI\nh84IQyitSRMd7L+KY61SW/LemUrKDn78PKyE6fE5mQKBgGlLoRIBKdFYCU9xxUk3\nbeRoP8NhtkJVBs2L/TYvAPY4/9ajog6/7b4Z7qP5IxyzPFYwBgMGehlcbN+OqY4L\n+CJtOf9y3G6v1yz5hKOTzdiT74dDoDpVRN3aqSPHB73ckZaZfYL0M7OZb2gpHj4o\nXDXP9NTyMLQTwWPpRth/fxo/\n-----END PRIVATE KEY-----\n","client_email":"uploadbillrau-960@silent-concept-436602-d1.iam.gserviceaccount.com","client_id":"115017842567271657668","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/uploadbillrau-960%40silent-concept-436602-d1.iam.gserviceaccount.com","universe_domain":"googleapis.com"}'
  ferausach:
    build: ./frontend
    restart: always
    ports:
      - "4301:4301"
    environment:
      - NODE_ENV=production
volumes:
  pg_data: