version: '3'
services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data  # Lưu dữ liệu PostgreSQL

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - postgres

  backend:
    build: ./api
    restart: always
    depends_on:
      - postgres
    ports:
      - "3000:3000"
    volumes:
      - ./api:/app  # Mount toàn bộ thư mục backend để chia sẻ schema
    environment:
      DATABASE_URL: "postgresql://postgres:password@postgres:5432/mydb"  # Kết nối đến PostgreSQL
    command: >
      sh -c "npm install -g prisma && bun prisma generate && bun start"  # Generate client trước khi khởi động

  prisma-studio:
    image: node:18
    container_name: prisma-studio
    working_dir: /app
    ports:
      - "5555:5555"
    volumes:
      - ./api:/app  # Mount cùng thư mục backend để chia sẻ schema
    depends_on:
      - backend
    environment:
      DATABASE_URL: "postgresql://postgres:password@postgres:5432/mydb"  # Kết nối đến PostgreSQL
    command: >
      sh -c "npm install -g prisma && prisma studio"

  frontend:
    build: ./frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "4200:4200"
    environment:
      - NODE_ENV=production

volumes:
  pg_data: