services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: AWois79wFA1bxMK
      POSTGRES_PASSWORD: 7bhNHJcSEbWln9v
      POSTGRES_DB: rausachv2
    ports:
      - "5432:5432"
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@rausachtrangia.com
      PGADMIN_DEFAULT_PASSWORD: 7bhNHJcSEbWln9v
    ports:
      - "5050:80"
    depends_on:
      - postgres  
  redis:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]      
  berausach:
    build: ./api
    restart: always
    ports:
      - "3331:3331"
    environment:
      - DATABASE_URL=postgresql://AWois79wFA1bxMK:7bhNHJcSEbWln9v@116.118.49.243:5432/rausachv2?schema=public
      - GOOGLE_CLIENT_ID=897974685698-efprsqffgop935h5d5l2lidle1go9i17.apps.googleusercontent.com
      - GOOGLE_CLIENT_SECRET=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
      - FACEBOOK_CLIENT_ID=your-facebook-client-id
      - FACEBOOK_CLIENT_SECRET=your-facebook-client-secret
      - ZALO_APP_ID=your-zalo-app-id
      - ZALO_APP_SECRET=your-zalo-app-secret
      - BASE_URL=https://sandbox2.rausachtrangia.com
      - SERVER_URL=https://sandboxapi2.rausachtrangia.com
      - PORT=3331
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - postgres
      - redis      
  ferausach:
    build: ./frontend
    restart: always
    ports:
      - "4301:4301"
    environment:
      - NODE_ENV=production

  backend-shop:
    # Build image từ Dockerfile trong thư mục hiện tại (.)
    build:
      context: ./beshop
      dockerfile: Dockerfile
    container_name: beshop
    restart: unless-stopped
    # Phụ thuộc vào service 'db'. Backend chỉ khởi động sau khi 'db' healthy.
    ports:
      # Map cổng 3200 của container ra cổng 3200 của máy host
      - "3500:3200"
    volumes:
      # Mount named volume 'uploads_data' vào thư mục /app/uploads trong container
      # để lưu trữ file upload bền bỉ và khắc phục lỗi EACCES
      - uploads_data:/app/uploads
  frontend-shop:
    build:
      context: ./feshop
      dockerfile: Dockerfile
    container_name: frontend-shop
    ports:
      - "4500:4000"
    restart: unless-stopped
  minio_rausach:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z-cpuv1
    container_name: minio_rausach
    command: server /data --console-address ":9093"
    ports:
      - "9003:9000"
      - "9093:9090"
    environment:
      MINIO_ROOT_USER: RC4hWSS4V6QIcfl
      MINIO_ROOT_PASSWORD: LEOZHZwjaasTTKk
    volumes:
      - minio_rausach:/rausach-data
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s


volumes:
  pg_data:
  redis_data:
  uploads_data:
    driver: local
  minio_rausach:
    name: rausach-data
    external: true