version: '3'
services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - postgres

  backend:
    build: ./api
    restart: always
    depends_on:
      - postgres
    ports:
      - "3000:3000"
    volumes:
      - ./api:/app
    environment:
      DATABASE_URL : "postgresql://postgres:password@116.118.49.243:5432/katav1"
    command: >
      sh -c "bun install && bunx prisma generate && bun start"  # Sử dụng bun thay vì npm

  frontend:
    build: ./frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "4200:4200"
    environment:
      - NODE_ENV=production

volumes:
  pg_data: