services:
  berausach:
    build: ./api
    restart: always
    ports:
      - "3331:3331"
    environment:
      - DATABASE_URL=postgresql://postgres:password@116.118.49.243:5432/rausachv2?schema=public
      - GOOGLE_CLIENT_ID=897974685698-efprsqffgop935h5d5l2lidle1go9i17.apps.googleusercontent.com
      - GOOGLE_CLIENT_SECRET=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
      - FACEBOOK_CLIENT_ID=your-facebook-client-id
      - FACEBOOK_CLIENT_SECRET=your-facebook-client-secret
      - ZALO_APP_ID=your-zalo-app-id
      - ZALO_APP_SECRET=your-zalo-app-secret
      - BASE_URL=http://116.118.49.243/:4301
      - SERVER_URL=http://116.118.49.243/:3331
      - PORT=3331
  ferausach:
    build: ./frontend
    restart: always
    ports:
      - "4301:4301"
    environment:
      - NODE_ENV=production

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/nginx.conf
volumes:
  pg_data: