services:
  timonaaffiliate-backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: timonaaffiliate-backend
    environment:
      NODE_ENV: development
      PORT: 3105
    ports:
      - "3105:3105"
    restart: unless-stopped  

  timonaaffiliate-frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: timonaaffiliate-frontend
    ports:
      - "4405:4405"
    restart: unless-stopped