services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - postgres  
  backend:
    build: ./api
    restart: always
    depends_on:
      - postgres
    environment:
      DATABASE_URL: "postgresql://postgres:password@bda57c4d8ac9_kataoffical-postgres-1:5432/mydb"  
      JWT_SECRET : "supersecret"
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "4200:4200"
    environment:
      - NODE_ENV=production
volumes:
  pg_data: 
