services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - postgres  
  backend:
    build: ./api
    volumes:
      - prisma-data:/app/prisma 
    command: sh -c "bun prisma generate && bun start"  
    restart: always
    depends_on:
      - postgres
    ports:
      - "3000:3000"
  prisma-studio:
    image: node:18
    volumes:
      - prisma-data:/app/prisma 
    container_name: prisma-studio
    working_dir: /app
    ports:
      - "5555:5555"
    depends_on:
      - backend
    command: >
      sh -c "npm install -g prisma && prisma studio"

  frontend:
    build: ./frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "4200:4200"
    environment:
      - NODE_ENV=production      
volumes:
  pg_data: 
  prisma-data:

