services:
  postgres:
    image: postgres:15
    container_name: rausach-postgres
    restart: always
    environment:
      POSTGRES_USER: AWois79wFA1bxMK
      POSTGRES_PASSWORD: 7bhNHJcSEbWln9v
      POSTGRES_DB: rausachfinal
    ports:
      - "55432:5432"
  pgadmin:
    image: dpage/pgadmin4
    container_name: rausach-pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@rausachtrangia.com
      PGADMIN_DEFAULT_PASSWORD: 7bhNHJcSEbWln9v
    ports:
      - "55050:80"
    depends_on:
      - postgres  
  redis:
    image: redis:latest
    container_name: rausach-redis
    restart: always
    ports:
      - "56379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]      
  berausach:
    build: ./api
    container_name: rausach-backend
    restart: always
    ports:
      - "53331:3331"
    environment:
      #- DATABASE_URL=postgresql://AWois79wFA1bxMK:7bhNHJcSEbWln9v@116.118.49.243:5432/testdata?schema=public
      - DATABASE_URL=postgresql://AWois79wFA1bxMK:7bhNHJcSEbWln9v@116.118.49.243:55432/rausachfinal?schema=public&connection_limit=25&pool_timeout=60&connect_timeout=20
      - GOOGLE_CLIENT_ID=897974685698-efprsqffgop935h5d5l2lidle1go9i17.apps.googleusercontent.com
      - GOOGLE_CLIENT_SECRET=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
      - FACEBOOK_CLIENT_ID=your-facebook-client-id
      - FACEBOOK_CLIENT_SECRET=your-facebook-client-secret
      - ZALO_APP_ID=your-zalo-app-id
      - ZALO_APP_SECRET=your-zalo-app-secret
      - BASE_URL=https://tg.rausachtrangia.com
      - SERVER_URL=https://apitg.rausachtrangia.com
      - PORT=3331
      - REDIS_HOST=redis
      - REDIS_PORT=56379
    depends_on:
      - postgres
      - redis      
  ferausach:
    build: ./frontend
    container_name: rausach-frontend
    restart: always
    ports:
      - "54301:4301"
    environment:
      - NODE_ENV=production

      
  frontend-shop:
    build:
      context: ./feshop
      dockerfile: Dockerfile
    container_name: frontend-shop
    ports:
      - "4500:4000"
    restart: unless-stopped     


  minio_rausach:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z-cpuv1
    container_name: rausach-minio
    command: server /data --console-address ":59090"
    ports:
      - "59000:9000"
      - "59090:9090"
    environment:
      MINIO_ROOT_USER: RC4hWSS4V6QIcfl
      MINIO_ROOT_PASSWORD: LEOZHZwjaasTTKk
    volumes:
      - minio_rausach:/rausach-data
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s


volumes:
  pg_data:
  redis_data:
  uploads_data:
    driver: local
  minio_rausach: