version: '3'
services:
  apiquanlytimona:
    build: ./api
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./api:/app
    environment:
      DATABASE_URL : "postgresql://postgres:password@116.118.49.243:5432/quanlytimona"
  fequanlytimona:
    build: ./frontend
    restart: always
    depends_on:
      - apiquanlytimona
    ports:
      - "4200:4200"
    environment:
      - NODE_ENV=production

volumes:
  pg_data: