<!-- <div class="w-full flex flex-col space-y-2 p-4">
<div class="flex flex-row space-x-2">
  <a class="p-2 rounded-lg hover:bg-slate-100" [routerLink]="['general']" routerLinkActive="bg-slate-100">
    General
  </a>
  <a class="p-2 rounded-lg hover:bg-slate-100" [routerLink]="['billing']" routerLinkActive="bg-slate-100">
    Billing
  </a>
  <a class="p-2 rounded-lg hover:bg-slate-100" [routerLink]="['notifications']" routerLinkActive="bg-slate-100">
    Notifications
  </a>
  <a class="p-2 rounded-lg hover:bg-slate-100" [routerLink]="['sociallinks']" routerLinkActive="bg-slate-100">
    Sociallinks
  </a>
  <a class="p-2 rounded-lg hover:bg-slate-100" [routerLink]="['password']" routerLinkActive="bg-slate-100">
    Security
  </a>
</div>
<router-outlet></router-outlet>
</div> -->


<div class="relative w-full h-full bg-slate-200">
  <!-- <img src="images/welcome_nu_bg.png" class="p-2 rounded-3xl absolute top-0 right-0 h-full w-full object-cover" alt="Welcome Image" /> -->
  <div class="h-full relative flex flex-col space-y p-2 bg-slate-50/70">
    <div class="border-t p-2 flex items-center justify-between">
      <div class="flex flex-row items-center flex-wrap gap-2">
        @for (item of AccountMenus; track item; let i = $index) {
          <div>
            <a mat-flat-button [routerLink]="item.link" routerLinkActive="!bg-blue-500 !text-white" class="flex items-center">
              <mat-icon>{{item.icon}}</mat-icon>
              <span class="whitespace-nowrap">{{item.title}}</span>
            </a>
          </div>
        }
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>





