<div class="w-full flex flex-col gap-4 mx-auto p-8">
    <div class="grid lg:grid-cols-3 gap-4">
        <app-dashboardblock [title]="'Tổng Doanh Thu'" [value]="123456789" [type]="'value'"></app-dashboardblock>
        <app-dashboardblock [title]="'Tổng Số Đơn Hàng'" [value]="1500" [type]="'percent'"></app-dashboardblock>
        <app-dashboardblock [title]="'Khách Hàng Mới'" [value]="300" [type]="'percent'"></app-dashboardblock>
    </div>
    <div class="grid lg:grid-cols-2 gap-4">
        <app-revenuechart [title]="'Doanh Thu Tháng Này'" [chartOptions]="sampleAreaChartOptions2"></app-revenuechart>
        <app-revenuechart [title]="'Trạng Thái Đơn hàng'" [chartOptions]="sampleAreaChartOptions2"></app-revenuechart>
    </div>
</div>