<div class="flex flex-row justify-between items-center space-x-2 p-2">
  <button mat-icon-button color="primary" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="font-bold">{{Detail()?.TenKH||Detail()?.Hoten||'Không có dữ liệu'}}</div>
  <div class="flex flex-row space-x-2 items-center">
    <button mat-icon-button color="primary" (click)="SaveData()">
      <mat-icon>save</mat-icon>
  </button>
    <!-- @if(isEdit==true){
      <button mat-icon-button color="primary" (click)="SaveData()">
          <mat-icon>save</mat-icon>
      </button>
    }
    @else{
      <button mat-icon-button color="primary" (click)="isEdit=true">
          <mat-icon>edit</mat-icon>

      </button>
    } -->
      <button mat-icon-button color="warn" (click)="isDelete=true">
          <mat-icon>delete</mat-icon>
      </button>
  </div>
</div>
<div class="relative flex flex-col w-full p-4 overflow-auto">
  @if(isDelete==true){
    <div>Bạn chắc chắn muốn xoá không?</div>
    <div class="flex flex-row space-x-2 mt-4 items-center justify-center">
      <button mat-flat-button color="primary" (click)="isDelete=false">
        Đồng Ý
      </button>
      <button mat-flat-button color="warn" (click)="isDelete=false">
        Huỷ Bỏ
      </button>
    </div>
  }
  @else {
    <div class="grid lg:grid-cols-2 gap-3">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Tên Khách Hàng</mat-label>
        <input matInput [(ngModel)]="Detail().TenKH"  [ngModelOptions]="{standalone: true}" [placeholder]="'Tên Khách Hàng'">
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Họ Tên</mat-label>
        <input matInput [(ngModel)]="Detail().Hoten"  [ngModelOptions]="{standalone: true}" [placeholder]="'Họ Tên'">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Địa Chỉ</mat-label>
        <input matInput [(ngModel)]="Detail().Diachi"  [ngModelOptions]="{standalone: true}" [placeholder]="'Địa Chỉ'">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Số Điện Thoại</mat-label>
        <input matInput [(ngModel)]="Detail().SDT"  [ngModelOptions]="{standalone: true}" [placeholder]="'Số Điện Thoại'">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Giờ Nhận Hàng</mat-label>
        <input matInput [(ngModel)]="Detail().GioNhanhang"  [ngModelOptions]="{standalone: true}" [placeholder]="'Giờ Nhận Hàng'">
      </mat-form-field>
      <mat-form-field [appearance]="'outline'" [subscriptSizing]="'dynamic'">
        <mat-label>Loại Khách Hàng</mat-label>
        <mat-select [(ngModel)]="Detail().Type" [ngModelOptions]="{standalone: true}">
          @for (item of [{id:1,Title:'Khách Sỉ',value:'khachsi'},
            {id:2,Title:'Khách Lẻ',value:'khachle'},
            ]; track item) {
            <mat-option [value]="item.value">{{item.Title}}</mat-option>
          }
        </mat-select>
     </mat-form-field>

      <mat-form-field [appearance]="'outline'" [subscriptSizing]="'dynamic'">
        <mat-label>Bảng Giá</mat-label>
        <mat-select [(ngModel)]="Detail().idBanggia" [ngModelOptions]="{standalone: true}">
          @for (item of ListBanggia; track item) {
            <mat-option [value]="item.id">{{item.Title}}</mat-option>
          }
        </mat-select>
     </mat-form-field>
     <mat-form-field appearance="outline">
      <mat-label>Ghi Chú</mat-label>
      <textarea matInput [(ngModel)]="Detail().Ghichu"  [ngModelOptions]="{standalone: true}"></textarea>
    </mat-form-field>
    </div>

  }
</div>