<div class="flex flex-col space-y-16 justify-center text-center p-8">
    <div class="container">
        <h1 class="text-4xl font-bold mb-8">Card 4 Game</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 justify-center">
            <div [routerLink]="'game1'" class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center">
                <div class="text-2xl font-semibold mb-2">Cooking</div>
                <div class="text-gray-600 mb-4">Game Nấu Ăn</div>
                <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Play</button>
            </div>
            <div [routerLink]="'game2'" class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center">
                <div class="text-2xl font-semibold mb-2">Farming</div>
                <div class="text-gray-600 mb-4">Game Nông Trại</div>
                <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Play</button>
            </div>
            <div [routerLink]="'game3'" class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center">
                <div class="text-2xl font-semibold mb-2">Town Defense</div>
                <div class="text-gray-600 mb-4">Game Phòng Thủ Thành</div>
                <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Play</button>
            </div>
            <div class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center">
                <div class="text-2xl font-semibold mb-2">P2P</div>
                <div class="text-gray-600 mb-4">Game Đấu Chiến Đấu</div>
                <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Play</button>
            </div>
        </div>
    </div>
</div>