<mat-drawer-container class="w-full h-full" autosize>
  <mat-drawer #drawer class="flex flex-col !w-full h-full" [position]="'end'" mode="over">
    <router-outlet></router-outlet>
  </mat-drawer>
  <div class="flex flex-col space-y-2 h-screen-16 w-full lg:p-2">
    <div
      class="p-2 cursor-pointer w-full relative flex lg:flex-row lg:space-y-2 space-y-0 flex-col space-x-2 justify-between items-center bg-white rounded-lg">
      <kata-toolbar [EditList]="EditList" (applyFilterEvent)="applyFilter($event)" (createEvent)="create()"
        (openDeleteDialogEvent)="openDeleteDialog(DeleteDialog)">
      </kata-toolbar>

      <kata-pagination [page]="page()" [totalPages]="totalPages()" [total]="total()" [pageSize]="pageSize()"
        (pageSizeChange)="onPageSizeChange($event)" (previousPage)="onPreviousPage()" (nextPage)="onNextPage()">
      </kata-pagination>
    </div>
    
    <kata-table [dataSource]="dataSource" [displayedColumns]="displayedColumns" [ColumnName]="ColumnName"
      [FilterColumns]="FilterColumns" [Columns]="Columns" [ListFilter]="ListFilter" [EditList]="EditList"
      (toggleColumnEvent)="toggleColumn($event)" (filterColumnsEvent)="doFilterColumns($event)"
      (updateDisplayedColumnsEvent)="updateDisplayedColumns()" (outFilterEvent)="onOutFilter($event)"
      (addToEditEvent)="AddToEdit($event)" (goToDetailEvent)="goToDetail($event)"
      [columnsToShowNestedObject]="{nhacungcap : 'title' }"
      [columnsToShowLength]="['dathangsanpham']"
      >
    </kata-table>
  </div>
</mat-drawer-container>

<ng-template #DeleteDialog>
  <mat-dialog-content>
    <div class="flex flex-col space-y-8 items-center justify-center">
      <div class="font-bold">Xác Nhận</div>
      <div>Bạn chắc chắn muốn xoá không?</div>
      <div class="flex flex-row space-x-2 items-center justify-center">
        <button mat-flat-button color="primary" mat-dialog-close="true">Đồng Ý</button>
        <button mat-flat-button color="warn" mat-dialog-close="false">Huỷ Bỏ</button>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>