<div class="flex flex-row justify-between items-center space-x-2 p-2">
  <button mat-icon-button color="primary" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="font-bold">{{Detail()?.Title||'Không có dữ liệu'}}</div>
  <div class="flex flex-row space-x-2 items-center">
    @if(isEdit==true){
      <button mat-icon-button color="primary" (click)="SaveData()">
          <mat-icon>save</mat-icon>
      </button>
    }
    @else{
      <button mat-icon-button color="primary" (click)="isEdit=true">
          <mat-icon>edit</mat-icon>

      </button>
    }
      <button mat-icon-button color="warn" (click)="isDelete=true">
          <mat-icon>delete</mat-icon>
      </button>
  </div>
</div>
<div class="relative flex flex-col w-full p-4 overflow-auto">
  @if(isDelete==true){
    <div>Bạn chắc chắn muốn xoá không?</div>
    <div class="flex flex-row space-x-2 mt-4 items-center justify-center">
      <button mat-flat-button color="primary" (click)="isDelete=false">
        Đồng Ý
      </button>
      <button mat-flat-button color="warn" (click)="isDelete=false">
        Huỷ Bỏ
      </button>
    </div>
  }
  @else {
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Tên Sản Phẩm</mat-label>
      <input matInput [(ngModel)]="Detail().Title" [disabled]="!isEdit"  [ngModelOptions]="{standalone: true}" [placeholder]="'Tên Sản Phẩm'">
    </mat-form-field>

    <div class="grid grid-cols-3 gap-4">
      <mat-form-field appearance="outline">
        <mat-label>Mã Sản Phẩm</mat-label>
        <input matInput [(ngModel)]="Detail().MaSP"  [disabled]="!isEdit" [ngModelOptions]="{standalone: true}" [placeholder]="'Mã Sản Phẩm'">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Giá Gốc</mat-label>
        <input matInput [(ngModel)]="Detail().giagoc" type="number" [disabled]="!isEdit" [ngModelOptions]="{standalone: true}" [placeholder]="'Giá Gốc'">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Đơn Vị Tính</mat-label>
        <input matInput [(ngModel)]="Detail().dvt" [disabled]="!isEdit" [ngModelOptions]="{standalone: true}" [placeholder]="'Đơn Vị Tính'">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Số Lượng Tồn</mat-label>
        <input matInput [(ngModel)]="Detail().Soluong" [disabled]="!isEdit" [ngModelOptions]="{standalone: true}" [placeholder]="'Số Lượng Tồn'">
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-span-2">
        <mat-label>Ghi Chú</mat-label>
        <input matInput [(ngModel)]="Detail().Ghichu" [disabled]="!isEdit" [ngModelOptions]="{standalone: true}" [placeholder]="'Ghi Chú'">
      </mat-form-field>
    </div>

    @for (item of Detail().Giagoc; track item.id; let idx = $index) {
      <div class="flex flex-row space-x-2 items-center">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Giá Gốc</mat-label>
        <input matInput [(ngModel)]="Detail().Giagoc[idx].gia" type="number" [ngModelOptions]="{standalone: true}" [placeholder]="'Tiêu Đề'">
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Đơn Vị Tính</mat-label>
        <input matInput [(ngModel)]="Detail().Giagoc[idx].dvt"  [ngModelOptions]="{standalone: true}" [placeholder]="'Tiêu Đề'">
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Khối Lượng</mat-label>
        <input matInput [(ngModel)]="Detail().Giagoc[idx].khoiluong"  type="number" [ngModelOptions]="{standalone: true}" [placeholder]="'Tiêu Đề'">
      </mat-form-field>
    </div>
    }
  }
</div>