<mat-drawer-container class="w-full h-full" autosize>
    <mat-drawer #drawer class="flex flex-col !w-full h-full" [position]="'end'" mode="over">
        <router-outlet></router-outlet>
    </mat-drawer>
    <div class="flex flex-col space-y-2 h-screen-14 w-full p-2">
        <div class="flex flex-row space-x-2 items-center">      
                <div class="relative">
                    <input type="text" (keyup)="applyFilter($event)"
                        placeholder="Tìm Kiếm..."
                        class="block w-full pl-10 pr-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-lg focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <span class="material-symbols-outlined text-gray-500">search</span>
                    </div>
                </div>
               <span (click)="gotoDexuat()" class="cursor-pointer p-2 rounded-lg border hover:bg-slate-50">Xuất Nhập Tôn Theo Ngày</span>                 
                <button matTooltip="Ẩn hiện cột" mat-icon-button color="primary" [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu">
                    <mat-icon>tune</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <div class="p-4">
                        <mat-form-field appearance="outline" class="w-full" subscriptSizing="dynamic">
                            <input (input)="doFilterColumns($event)" (click)="$event.stopPropagation()" matInput
                                placeholder="Tìm Kiếm" />
                            <mat-icon matPrefix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col max-h-80 overflow-auto">
                        @for (item of FilterColumns; track item.key) {
                        <button mat-menu-item (click)="toggleColumn(item);$event.stopPropagation()">
                            <mat-icon>{{item.isShow ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
                            <span>{{item.value}}</span>
                        </button>
                        }
                    </div>
                </mat-menu>
            </div>
        <div class="w-full overflow-auto">
            <table class="excelstyle !border w-full cursor-pointer" mat-table [dataSource]="dataSource" matSort>
                @for (column of displayedColumns; track column) {
                <ng-container [matColumnDef]="column">
                    <th class="whitespace-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span class="max-w-40 line-clamp-4 me-4">
                            {{ ColumnName[column] }}
                        </span>
                        <span class="z-10 material-symbols-outlined text-gray-500" [matMenuTriggerFor]="menu"
                            #menuTrigger="matMenuTrigger">
                            filter_alt
                        </span>
                        <mat-menu #menu="matMenu">
                            <div (click)="$event.stopPropagation()" class="cursor-pointer flex flex-col space-y-4 p-3">
                                <div class="relative w-full">
                                    <input type="text" placeholder="Tìm Kiếm..."
                                        (keyup)="doFilterHederColumn($event,column)"
                                        class="block w-full pl-10 pr-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-lg focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40">
                                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                        <span class="material-symbols-outlined text-gray-500">search</span>
                                    </div>
                                </div>
                                <div class="flex flex-row space-x-2 items-center justify-between">
                                    <div class="flex flex-row space-x-2 items-center">
                                        <span class="text-xs text-blue-600 underline"
                                            (click)="ChosenAll(FilterHederColumn(dataSource.filteredData,column))">Chọn
                                            Tất Cả
                                            {{FilterHederColumn(dataSource.filteredData,column).length||0}}</span>
                                        <span class="text-xs text-blue-600 underline" (click)="EmptyFiter()">Xoá</span>
                                    </div>

                                    <span class="text-xs text-blue-600 underline" (click)="ResetFilter()">Reset</span>
                                </div>
                                <div class="w-full flex flex-col space-y-2 max-h-44 overflow-auto">
                                    <div *ngFor="let item of FilterHederColumn(dataSource.filteredData,column); trackBy:trackByFn"
                                        (click)="ChosenItem(item,column)"
                                        class="flex flex-row space-x-2 items-center p-2 rounded-lg hover:bg-slate-100">
                                        <span *ngIf="CheckItem(item)"
                                            class="material-symbols-outlined text-blue-600">check</span>
                                        @switch (column) {
                                        @case ('createdAt') {
                                        <span>{{item[column]|date:'dd/MM/yyyy'}}</span>
                                        }
                                        @case ('updatedAt') {
                                        <span>{{item[column]|date:'dd/MM/yyyy'}}</span>
                                        }
                                        @case ('haohut') {
                                        <span>{{item[column]}}%</span>
                                        }
                                        @default {
                                        <span> {{item[column]||'Trống'}}</span>
                                        }
                                        }


                                    </div>
                                </div>
                                <div class="flex flex-row space-x-2 items-end justify-end">
                                    <button mat-flat-button color="warn" (click)="menuTrigger.closeMenu()">Đóng</button>
                                    <button mat-flat-button color="primary" (click)="ApplyFilterColum(menuTrigger)">Áp
                                        Dụng</button>
                                </div>
                            </div>
                        </mat-menu>
                    </th>
                    <td mat-cell *matCellDef="let row; let idx = index">
                        @switch (column) {
                        @case ('STT') {
                        <span class="max-w-40 line-clamp-4">
                            {{ idx + 1 }}
                        </span>
                        }
                        @case ('slchonhap') {
                        <span class="max-w-40 line-clamp-4 text-green-700 font-bold">


                         <span class="flex items-center justify-between">                      
                            @if(row[column]>0){
                            <span (click)="XemDathang(row,DathangDialog)"> + {{ row[column]|number:'1.0-2'}} </span>
                            }
                            @else {
                            {{ row[column]|number:'1.0-2'}}
                            }
                            <span class="text-xs text-gray-500">({{row?.slchonhaptt|number:'1.0-2'}})</span>
                            </span>
                        </span>
                        }
                        @case ('slchogiao') {
                        <span class="max-w-40 line-clamp-4 text-red-700 font-bold">
                           <span class="flex items-center justify-between">                      
                            @if(row[column]>0){
                            <span (click)="XemDonhang(row,DonhangDialog)">{{ row[column]|number:'1.0-2'}} </span>
                            }
                            @else {
                            {{ row[column]|number:'1.0-2'}}
                            }
                            <span class="text-xs text-gray-500">({{row?.slchogiaott|number:'1.0-2'}})</span>
                            </span>
                        </span>
                        }
                        @case ('ngaygiao') {
                        <span class="max-w-40 line-clamp-4 text-xs">
                            {{ row[column]|date:'HH:mm:ss dd/MM/yyyy'}}
                        </span>
                        }
                        @case ('isActive') {
                        <span class="max-w-40 line-clamp-4">
                            @if (row[column]) {
                            <mat-icon class="text-green-500">check_circle</mat-icon>
                            }
                            @else {
                            <mat-icon class="text-red-500">cancel</mat-icon>
                            }
                        </span>
                        }
                        @case ('updatedAt') {
                        <span class="max-w-40 line-clamp-4 text-xs">
                            {{ row[column]|date:'HH:mm:ss dd/MM/yyyy'}}
                        </span>
                        }
                        @default {
                        <span class="max-w-40 line-clamp-4">
                            {{ row[column] }}
                        </span>
                        }
                        }
                    </td>
                </ng-container>
                }
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell p-4" colspan="4">Không tìm thấy</td>
                </tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>
</mat-drawer-container>


<ng-template #DathangDialog>
    <h2 mat-dialog-title>Chi Tiết Đặt Hàng</h2>
    <mat-dialog-content class="mat-typography">
        <table class="w-full border-collapse border border-gray-300">
            <thead>
                <tr class="bg-gray-100">
                    <th class="border border-gray-300 px-4 py-2 text-left">Tiêu đề</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Mã Đặt</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Trạng thái</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Nhà Cung Cấp</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Tên Sản Phẩm</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Số Lượng Đặt</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Số Lượng Nhận</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Ngày</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of ListDathang" class="hover:bg-gray-50">
                    <td class="border border-gray-300 px-4 py-2">{{item.title}}</td>
                    <td class="border  px-4 py-2 font-bold">
                       <a target="_blank" class="text-blue-500" href="/admin/dathang/{{item.id}}"> {{item.madncc}} </a> 
                    </td>
                    <td class="border border-gray-300 px-4 py-2">
                        <span class="max-w-40 line-clamp-4 font-bold" [ngClass]="{
                          'text-blue-500': item.status === 'dadat',
                          'text-yellow-500': item.status === 'dagiao',
                          'text-green-500': item.status === 'danhan',
                          'text-purple-500': item.status === 'hoanthanh',
                          'text-red-500': item.status === 'huy'
                        }
                        ">
                            {{Trangthaidon[item.status]}}
                        </span>
                    </td>
                    <td class="border border-gray-300 px-4 py-2">{{item.nhacungcap.name}}</td>
                    <td class="border border-gray-300 px-4 py-2">{{item.sanpham.sanpham.title}}</td>
                    <td class="border border-gray-300 px-4 py-2">{{item.sanpham.sldat}}</td>
                    <td class="border border-gray-300 px-4 py-2">{{item.sanpham.slnhan}}</td>
                    <td class="border border-gray-300 px-4 py-2">{{item.createdAt |date:'dd/MM/yyyy'}}</td>
                </tr>
                <tr class="bg-gray-100 font-bold">
                    <td class="border border-gray-300 px-4 py-2" colspan="5">Tổng cộng:</td>
                    <td class="border border-gray-300 px-4 py-2">{{TinhTong(ListDathang, 'sldat')}}</td>
                    <td class="border border-gray-300 px-4 py-2">{{TinhTong(ListDathang, 'slnhan')}}</td>
                    <td class="border border-gray-300 px-4 py-2"></td>
                </tr>
            </tbody>
        </table>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Đóng</button>
    </mat-dialog-actions>

</ng-template>

<ng-template #DonhangDialog>
    <h2 mat-dialog-title>Chi Tiết Đơn Hàng</h2>
    <mat-dialog-content class="mat-typography">
        <table class="w-full border-collapse border border-gray-300">
            <thead>
                <tr class="bg-gray-100">
                    <th class="border border-gray-300 px-4 py-2 text-left">Tiêu đề</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Mã Đơn</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Trạng thái</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Nhà Cung Cấp</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Tên Sản Phẩm</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Số Lượng Đặt</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Số Lượng Nhận</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Ngày</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of ListDonhang" class="hover:bg-gray-50">
                    <td class="border border-gray-300 px-4 py-2">{{item.title}}</td>
                    <td class="border  px-4 py-2 font-bold">
                       <a target="_blank" class="text-blue-500" href="/admin/donhang/{{item.id}}"> {{item.madonhang}} </a> 
                    </td>
                    <td class="border border-gray-300 px-4 py-2">
                        <span class="max-w-40 line-clamp-4 font-bold" [ngClass]="{
                          'text-blue-500': item.status === 'dadat',
                          'text-yellow-500': item.status === 'dagiao',
                          'text-green-500': item.status === 'danhan',
                          'text-purple-500': item.status === 'hoanthanh',
                          'text-red-500': item.status === 'huy'
                        }
                        ">
                            {{Trangthaidon[item.status]}}
                        </span>
                    </td>
                    <td class="border border-gray-300 px-4 py-2">{{item.khachhang.name}}</td>
                    <td class="border border-gray-300 px-4 py-2">{{item.sanpham.sanpham.title}}</td>
                    <td class="border border-gray-300 px-4 py-2">{{item.sanpham.sldat}}</td>
                    <td class="border border-gray-300 px-4 py-2">{{item.sanpham.slnhan}}</td>
                    <td class="border border-gray-300 px-4 py-2">{{item.createdAt |date:'dd/MM/yyyy'}}</td>
                </tr>
                <tr class="bg-gray-100 font-bold">
                    <td class="border border-gray-300 px-4 py-2" colspan="5">Tổng cộng:</td>
                    <td class="border border-gray-300 px-4 py-2">{{TinhTong(ListDonhang, 'sldat')}}</td>
                    <td class="border border-gray-300 px-4 py-2">{{TinhTong(ListDonhang, 'slnhan')}}</td>
                    <td class="border border-gray-300 px-4 py-2"></td>
                </tr>
            </tbody>
        </table>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Đóng</button>
    </mat-dialog-actions>

</ng-template>