@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';
@use 'swiper/css/autoplay'; // Nếu sử dụng autoplay
@use '@angular/material' as mat;
:root {
  @include mat.button-overrides((
    // filled-container-color: white,   // Background color of the button
    // filled-label-text-color: red,     // Text color of the button
  ));

}
.mat-drawer-content {
  overflow: visible !important;
}

.editable-cell {
  border: 1px solid transparent;
  padding: 4px;
  min-width: 100px;
}

.editable-cell:focus {
  border: 1px solid #3f51b5;
  background: #e3f2fd;
  outline: none;
}

.mat-column-STT{
  width: 5px !important;
}


.primary {
  @include mat.icon-button-overrides((
    icon-color: white,   // Background color of the button
    state-layer-color:white
  ));
}
.style-1 {
  background-color: #FFFFFF;
  color: #3154A1;
}

.style-2 {
  background-color: #F7E6E9;
  color: #3154A1;
}

.style-3 {
  background-color: #EFCBD3;
  color: #3154A1;
}

.style-4 {
  background-color: #E6AABF;
  color: #3154A1;
}

.style-5 {
  background-color: #D98296;
  color: #FFFFFF;
}

.style-6 {
  background-color: #B33A52;
  color: #FFFFFF;
}

.style-7 {
  background-color: #3154A1;
  color: #FFFFFF;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Các style tùy chỉnh của bạn */
// .swiper {
//   width: 600px;
//   height: 300px;
// }
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide-content{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  padding: 10px;
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: white !important;
  width: 11px;
  height: 11px;
}
html,
body {
  height: 100%;
  --mat-sidenav-content-background-color: white;
  // --mat-table-header-headline-font: 'Quicksand', sans-serif !important;
  // --mat-table-row-item-label-text-font: 'Quicksand', sans-serif !important;
  // --mat-table-footer-supporting-text-font: 'Quicksand', sans-serif !important;
  --mat-table-row-item-label-text-font: 'Roboto', sans-serif !important;
  --mat-table-footer-supporting-text-font: 'Roboto', sans-serif !important;
}
body {
  margin: 0;
  // font-family: 'Quicksand', sans-serif !important;
  font-family: 'Roboto', sans-serif;
  // font-family: 'Poppins', sans-serif !important;
  // font-family: 'Poppins', sans-serif !important;
}

.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  // color: var(--mdc-snackbar-supporting-text-color, var(--mat-sys-inverse-on-surface));
  // border-radius: var(--mdc-snackbar-container-shape, var(--mat-sys-corner-extra-small));
  background-color: transparent !important
}

/* Custom styles for MatSnackBar */
.snackbar-success {
  background-color: #0aa20a; /* Green */
  color: white;
  border-radius: 5px;
}

.snackbar-warning {
  background-color: #ff9800; /* Orange */
  color: white;
  border-radius: 5px;
}

.snackbar-error {
  background-color: #f44336; /* Red */
  color: white;
  border-radius: 5px;
}

.text-primary
{
  // font-family: 'Quicksand', sans-serif !important;
  font-family: 'Roboto', sans-serif;
  // font-family: 'Poppins', sans-serif !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #ddd;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #00256e;
}
// mat-snack-bar-container{
//   margin:15% !important
// }

.input-edit.mat-column-STT {
  width: 10px !important;
}
.mat-column-id {
  display: none !important;
}
.input-edit.mat-column-Soluong,
.input-edit.mat-column-SLTG,
.input-edit.mat-column-SLTN
{
  text-align: right !important;
  max-width: 40px !important;
}
.mat-column-Tongtien,
.mat-column-TongtienG,
.mat-column-TongtienN {
  text-align: right !important;
}

.admin .mat-mdc-row
{
  height: 30px;
}

.text-md.mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 32px;
  padding: 4px;
}


.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  // color: var(--mdc-snackbar-supporting-text-color, var(--mat-sys-inverse-on-surface));
  // border-radius: var(--mdc-snackbar-container-shape, var(--mat-sys-corner-extra-small));
  background-color: transparent !important
}

/* Custom styles for MatSnackBar */
.snackbar-success {
  background-color: #0aa20a; /* Green */
  color: white;
  border-radius: 5px;
}

.snackbar-warning {
  background-color: #ff9800; /* Orange */
  color: white;
  border-radius: 5px;
}

.snackbar-error {
  background-color: #f44336; /* Red */
  color: white;
  border-radius: 5px;
}
// .danger .mdc-snackbar__surface{
//   color: white !important;
//   background-color:#D9534F !important;
// }
// .warning .mdc-snackbar__surface{
//   color: white !important;
//   background-color:#F0AD4E !important;
// }
// .info .mdc-snackbar__surface{
//   color: white !important;
//   background-color:#5BC0DE !important;
// }
.p-sidebar-mask
{
  z-index: 1 !important;
}
.bg-primary
{
  background-color: #e22026 !important;
}
.bg-primary-400
{
  background-color: #e8686c !important;
}
.mdc-notched-outline__notch
{
  border: 0;
}
.mdc-dialog .mdc-dialog__content {
  padding: 15px;
}
.mdc-data-table__cell, .mdc-data-table__header-cell{
  padding: 5px 10px !important;
}
// .mat-mdc-form-field-bottom-align
// {
//   height: 0;
// }
.cdk-overlay-pane
{
  max-width: 100vw !important;
}
.loading-page
{
  background-color: black;
  opacity: 0.6;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.PDFVIEW .mat-mdc-dialog-content{
  max-height: 100vh !important;
}

.text-sm .mdc-text-field--outlined .mat-mdc-form-field-infix, .mdc-text-field--no-label .mat-mdc-form-field-infix
{
  min-height: 0 !important;
  padding: 0.5rem 0.5rem 0.5rem 0.25rem !important;
}
.text-sm .mdc-text-field--outlined
{
  padding: 0 !important;
}
.text-sm .mat-mdc-form-field-icon-prefix>.mat-icon,.text-sm .mat-mdc-form-field-icon-suffix>.mat-icon {
  padding: 0 6px;
  box-sizing: content-box;
}


mat-datepicker-toggle .mat-mdc-icon-button
{
    color: #000!important;
}

.editor-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.toolbar {
  margin-bottom: 5px;
}

button {
  margin-right: 5px;
  cursor: pointer;
}

button.active {
  font-weight: bold;
}

.editable:empty:before {
  content: attr(data-placeholder);
  color: #aaa;
  pointer-events: none;
}
.editable img {
  max-height : 150px !important;
  max-width : 150px !important;
  border-radius: 10px;
}
@media print {
  #nonPrintable {
    display: none;
  }
  /* Add your additional print styles here */
  #printArea {
    font-size: 8px !important; /* Example print style */
  }
 table td, table th {
      vertical-align: middle !important;
      line-height: 1 !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      text-decoration: none !important;
      font-family: 'Roboto', sans-serif;
 }
 table td, table th {
  transform: translateY(-10px) !important; /* điều chỉnh giá trị phù hợp */
}
}
router-outlet+* {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  flex-direction: column;
  overflow: auto;
}


div[contenteditable] {
  outline: none;
}
.no-outline{
  outline: none!important;
}


.tox-tinymce {
  border: 1px solid #eee !important;
  border-radius: 0px !important;
}
.tox:not(.tox-tinymce-inline) .tox-editor-header {
  border-bottom: 1px solid #eee !important;
  padding: 0 !important;
  box-shadow:none !important;
}


// Coffee
// .cup-wrap {
//   width: 500px;
//   height: 600px;
//   position: relative;
//   bottom: 30px;
// }
.cup {
  position: absolute;
  bottom: 0;
}
.smoke-wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 150px;
}
.smoke,
.smoke2,
.smoke3 {
  filter: blur(5px);
  transform-origin: 50% 50%;
}
.smoke {
  animation: smoke1 3s linear infinite;
  animation-delay: 0.1s;
}
.smoke2 {
  animation: smoke2 3s linear infinite;
  animation-delay: 0.1s;
}
.smoke3 {
  width: 300px;
  animation: smoke3 4s linear infinite;
  animation-delay: 0.1s;
}

@keyframes smoke1 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(-1, 1);
    opacity: 0;
  }
  25% {
    filter: blur(3px);
    transform: translateY(-10px) scale(-1, 1.05);
    opacity: 0.5;
  }
  50% {
    filter: blur(5px);
    transform: translateY(-20px) scale(-1, 1.1);
    opacity: 1;
  }
  75% {
    filter: blur(5px);
    transform: translateY(-30px) scale(-1, 1.15);
    opacity: 0.5;
  }
  100% {
    filter: blur(7px);
    transform: translateY(-40px) scale(-1, 1.2);
    opacity: 0;
  }
}
@keyframes smoke2 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(1);
    opacity: 0;
  }
  25% {
    filter: blur(3px);
    transform: translateY(-10px) scale(1.05);
    opacity: 0.5;
  }
  50% {
    filter: blur(5px);
    transform: translateY(-20px) scale(1.1);
    opacity: 1;
  }
  75% {
    filter: blur(5px);
    transform: translateY(-30px) scale(1.15);
    opacity: 0.5;
  }
  100% {
    filter: blur(7px);
    transform: translateY(-40px) scale(1.2);
    opacity: 0;
  }
}
@keyframes smoke3 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(1);
    opacity: 0;
  }
  25% {
    filter: blur(3px);
    transform: translateY(-20px) scale(1.05);
    opacity: 0.5;
  }
  50% {
    filter: blur(5px);
    transform: translateY(-20px) scale(1.1);
    opacity: 1;
  }
  75% {
    filter: blur(5px);
    transform: translateY(-40px) scale(1.15);
    opacity: 0.5;
  }
  100% {
    filter: blur(7px);
    transform: translateY(-80px) scale(1.2);
    opacity: 0;
  }
}
// Coffee



.card { perspective: 800px;}
.card__content {transform-style: preserve-3d;}

.card:hover .card__content {transform: rotateY(.5turn);}

.card__front,
.card__back { backface-visibility: hidden;}

.card__back{ transform: rotateY(.5turn);}


.bn-container
{
  padding: 10px !important;
  border: 1px solid #e0e0e0 !important;
  border-radius: 5px !important;
}
.ngx-file-drop__drop-zone{
  height: auto !important;
  border: none !important;
  border-radius: 10px !important;
}
.ck-powered-by-balloon
{
  display: none !important;
}
.ck-content {
  min-height: 150px;
}
.chat .ck-content {
  min-height: 50px; 
}

