.input-small{
    --mat-form-field-container-height: 48px !important;
    --mat-form-field-filled-label-display: block;
    --mat-form-field-container-vertical-padding: 14px !important;
    --mat-form-field-filled-with-label-container-padding-top: 24px;
    --mat-form-field-filled-with-label-container-padding-bottom: 8px;
}
