  <div class="bg-white rounded-lg border border-default-200 col-span-2">
    <div class="p-4 border-b border-default-200 flex flex-row space-x-2 justify-between items-center">
      <span class="!text-lg !font-semibold text-default-800">Giỏ Hàng</span>
      <div class="relative">
        <input type="text" placeholder="Tìm Kiếm..." #input (keyup)="applyFilter($event)"
          class="block pl-10 pr-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-lg focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <span class="material-symbols-outlined text-gray-500">search</span>
        </div>
      </div>
      <div class="flex flex-row space-x-1 cursor-pointer">
        <div (click)="writeExcelFile()" class="flex flex-col items-center p-2 hover:bg-gray-200 rounded-lg">
          <span class="material-symbols-outlined text-xl" matTooltip="Upload File">file_download</span>
          <span class="text-xs">Download</span>
        </div>
        <div (click)="uploadfile.click()" class="flex flex-col items-center p-2 hover:bg-gray-200 rounded-lg">
          <span class="material-symbols-outlined text-xl" matTooltip="Upload File">file_upload</span>
          <span class="text-xs">Upload</span>
          <input class="hidden" (change)="readExcelFile($event)" type="file" #uploadfile>
        </div>
        <button (click)="LoadDrive()" color="primary" mat-icon-button><mat-icon>cloud_download</mat-icon></button>
        <button (click)="Xoagiohang()" color="warn" mat-icon-button><mat-icon>delete</mat-icon></button>
      </div>
    </div>
    @defer () {
      <div class="w-full overflow-auto">
        <table class="w-full cursor-pointer" mat-table [dataSource]="dataSource" matSort>
          @for (column of displayedColumns; track column) {
          <ng-container [matColumnDef]="column">
            <th class="whitespace-nowrap !bg-slate-300" mat-header-cell *matHeaderCellDef mat-sort-header>{{ ColumnName[column] }}
            </th>
            <td class="whitespace-nowrap text-center" mat-cell *matCellDef="let row;let idx = index">
              @if( column === 'STT'){
                <div class="flex flex-row items-center px-2">
                  <span> {{idx + 1}} </span>
                  <button (click)="Xoasanpham(row)" color="warn" mat-icon-button><mat-icon>do_not_disturb_on</mat-icon></button>
                </div>     
              }
              @else if( column === 'Image'){
              @if(row[column])
              {
              <img loading="lazy" [src]="row[column]" class="border rounded-lg h-20 w-20">
              }
              @else {
              <img loading="lazy" src="assets/images/noimage.png" class="border h-20 w-20 rounded-lg">
              }
              }
              @else if( column === 'Ghichu'){
                    @if(isEdit){
      <mat-form-field appearance="outline" appearance="outline" subscriptSizing="dynamic">
      <mat-label>Ghi Chú</mat-label>
      <input matInput [(ngModel)]="Donhang.Giohangs[idx].Ghichu"  [ngModelOptions]="{standalone: true}" [placeholder]="'Ghi Chú'">
    </mat-form-field>
                }
                @else {
                  {{row[column]||''}}
                }
              }
              @else if( column === 'Soluong'){
                @if(isEdit){
                  <mat-form-field class="!w-24 text-sm" appearance="outline" subscriptSizing="dynamic">
                    <input matInput type="number" (change)="onValueChange($event,idx,'Soluong','Tongtien')" [(ngModel)]="Donhang.Giohangs[idx].Soluong"
                      [ngModelOptions]="{ standalone: true }"/>
                      <ng-container *ngIf="isShowCrease">
                      <button class="text-md" (click)="ChangeSoluong(idx,'giam','Tongtien','Soluong')" color="primary" matPrefix
                      mat-icon-button><mat-icon>do_not_disturb_on</mat-icon></button>
                    <button class="text-md" (click)="ChangeSoluong(idx,'tang','Tongtien','Soluong')" color="primary" matSuffix
                      mat-icon-button><mat-icon>add_circle</mat-icon></button>
                      </ng-container>
                  </mat-form-field>
                }
                @else {
                  {{row[column]||0 |number:'1.0-2'}}
                }
              }
              @else if(column === 'SLTG'){
                @if(isEdit){
                  <mat-form-field class="!w-24 text-sm" appearance="outline" subscriptSizing="dynamic">
                    <input matInput type="number" (change)="onValueChange($event,idx,'SLTG','TongtienG')" [(ngModel)]="Donhang.Giohangs[idx].SLTG"
                      [ngModelOptions]="{ standalone: true }"/>
                      <ng-container *ngIf="isShowCrease">
                        <button class="text-md" (click)="ChangeSoluong(idx,'giam','TongtienG','SLTG')" color="primary" matPrefix
                        mat-icon-button><mat-icon>do_not_disturb_on</mat-icon></button>
                      <button class="text-md" (click)="ChangeSoluong(idx,'tang','TongtienG','SLTG')" color="primary" matSuffix
                        mat-icon-button><mat-icon>add_circle</mat-icon></button>
                        </ng-container>
                    </mat-form-field>
                }
                @else {
                  {{row[column]||0 |number:'1.0-2'}}
                }
              }
              @else if(column === 'SLTN'){
                @if(isEdit){
                  <mat-form-field class="!w-24 text-sm" appearance="outline" subscriptSizing="dynamic">
                    <input matInput type="number" (change)="onValueChange($event,idx,'SLTN','TongtienN')" [(ngModel)]="Donhang.Giohangs[idx].SLTN"
                      [ngModelOptions]="{ standalone: true }"/> 
                      <ng-container *ngIf="isShowCrease">
                        <button class="text-md" (click)="ChangeSoluong(idx,'giam','TongtienN','SLTN')" color="primary" matPrefix
                        mat-icon-button><mat-icon>do_not_disturb_on</mat-icon></button>
                      <button class="text-md" (click)="ChangeSoluong(idx,'tang','TongtienN','SLTN')" color="primary" matSuffix
                        mat-icon-button><mat-icon>add_circle</mat-icon></button>
                      </ng-container>
                  </mat-form-field>
                }
                @else {
                  {{row[column]||0 |number:'1.0-2'}}
                }
              }
              @else if( column === 'Tongtien'||column === 'TongtienG'||column === 'TongtienN'){
                {{row[column]||0 |number:'1.0-2'}}đ
              }
              @else {
              {{row[column]}}
              }
            </td>

            <td class="font-bold" mat-footer-cell *matFooterCellDef>
              @if(column === 'STT')
              {
                Tổng Cộng
              }
              @else if(column === 'Soluong')
              {
                {{TinhTongSub(Donhang.Giohangs,'Soluong')|number:'1.0-2'}}
              }
              @else if(column === 'SLTN')
              {
                {{TinhTongSub(Donhang.Giohangs,'SLTN')|number:'1.0-2'}}
              }
              @else if(column === 'SLTG')
              {
                {{TinhTongSub(Donhang.Giohangs,'SLTG')|number:'1.0-2'}}
              }
              @else {
              }
            </td>
          </ng-container>
          }
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
  </div>
  <div class="flex flex-row space-x-2 justify-between items-center p-4">
    <div (click)="AddSanpham()" class="cursor-pointer flex-row inline-flex space-x-2 
    bg-slate-200 text-blue-500 hover:bg-blue-500 hover:text-white justify-center items-center m-2  px-4 py-2 border rounded-lg">
      <span>Thêm Sản Phẩm</span>
      <span class="material-symbols-outlined">
        add_circle
      </span>
    </div>
    @if(isAdmin){
      <!-- @if(isEdit){
        <button (click)="isEdit=false" color="primary" mat-icon-button><mat-icon>save</mat-icon></button>
      }
      @else {
        <button (click)="isEdit=true" color="primary" mat-icon-button><mat-icon>edit</mat-icon></button>
      } -->
  
    }
    @else{
      <a href="/danh-muc" class="cursor-pointer flex-row inline-flex space-x-2 
      bg-slate-200 text-blue-500 hover:bg-blue-500 hover:text-white justify-center items-center m-2  px-4 py-2 border rounded-lg">
        <span>Cửa Hàng</span>
      </a>
    }
  
  </div>
    } @loading(minimum 500ms) {
    <div class="flex flex-row space-x-2 items-center justify-center p-4">
      <span>Đang Tải Dữ Liệu </span>
      <mat-spinner></mat-spinner>
    </div>

    } @error {
    <p>Error loading About Component</p>
    }
  </div>
<ng-template #ChonSanphamDialog>
  <div class="lg:w-[70vw] w-[90vw] h-[90vh] p-4 flex flex-col space-y-3">
    <div class="px-4 flex flex-row items-center space-x-2 justify-between">
      <mat-form-field appearance="outline" class="w-full" subscriptSizing="dynamic">
        <input matInput (keyup)="DoSearchSanpham($event)" placeholder="Tìm Sản Phẩm" />
      </mat-form-field>
      <span class="cursor-pointer border p-2 rounded-lg hover:border-2" mat-dialog-close="false">ESC</span>
    </div>
      <div class="overflow-auto flex flex-col w-full space-y-2 lg:p-4">
        <span class="text-red-500">Tìm Thấy {{FilterSanphamsBansi.length||0}} Sản Phẩm</span>

        @if(Type=='banle'){
          <div class="grid lg:grid-cols-4 grid-cols-2 gap-4">
            @for (items of FilterSanphamsBansi; track items) {
            <div class="flex flex-col space-y-2 rounded-lg border p-2">
  
              <img [src]="items?.Image?.Hinhchinh?.src" class="m-auto h-20 w-20">
              <div>{{items.Title}}</div>
              <div>{{items.MaSP}}</div>
              <div class="cursor-pointer flex flex-row space-x-2">
                @for(item of items.Giagoc;track item){
                <div  (click)="Chonsanpham(items,item);$event.stopPropagation()"  class="p-2 rounded-lg bg-slate-100 hover:bg-slate-300 font-bold">
                  {{item.khoiluong}} {{item.dvt}} -
                  {{item.gia}}
                </div>  
                }
              </div>
  
            </div>
            }
  
          </div>
        }
        @else {
            @for (items of FilterSanphamsBansi; track items) {
            <div (click)="ChonsanphamSi(items);$event.stopPropagation()"  class="cursor-pointer flex flex-row justify-between space-x-2 items-center border p-3 rounded-lg hover:bg-slate-300">
              <div>({{items.MaSP}}) - {{items.Title}} - {{items.dvt}}</div>
              <div class="font-bold">{{items.giagoc|number:'1.0-2'}}đ</div>  
            </div>
            }
        }
      </div>
  </div>
</ng-template>