<div class="min-h-screen">
    <div class="max-w-xl mx-auto px-4 py-8 space-y-3">
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Thông Tin">

                <div class="p-4">
                    <div class="mb-8 lg:p-8 p-2 bg-white border rounded-lg">
                        <div class="text-xl font-bold text-gray-900 mb-4">Hồ sơ</div>
                        <div class="text-gray-500 mb-4">Cập nhật thông tin cá nhân của bạn.</div>
                        <mat-form-field appearance="outline" class="w-full mb-4">
                            <mat-label>Họ tên</mat-label>
                            <input matInput [(ngModel)]="profile().name" name="fullName" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full mb-4">
                            <mat-label>Số Điện Thoại</mat-label>
                            <input matInput [(ngModel)]="profile().phone" name="phone" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full mb-4">
                            <mat-label>Email</mat-label>
                            <input matInput [(ngModel)]="profile().email" name="email" required>
                        </mat-form-field>
                        <!-- Affiliate Link -->
                        <mat-form-field appearance="outline" class="w-full mb-4">
                            <mat-label>Affiliate Link</mat-label>
                            <input matInput [(ngModel)]="inviteLink" [disabled]="true" readonly>
                            <button matSuffix mat-icon-button type="button" color="primary"
                                (click)="getCoppyLink(inviteLink)">
                                <mat-icon>content_copy</mat-icon>
                            </button>
                        </mat-form-field>
                        <!-- Action Buttons -->
                        <div class="flex justify-end gap-4">
                            <button mat-raised-button color="primary" (click)="doUpdate()">Cập Nhật</button>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Mật Khẩu">
                <div class="p-4">
                    <div class="mb-8 lg:p-8 p-2 bg-white border rounded-lg">
                        <div class="text-xl font-bold text-gray-900 mb-4">Mật Khẩu</div>
                        <div class="text-gray-500 mb-4">Cập nhật mật khẩu</div>
                        <mat-form-field appearance="outline" class="w-full mb-4">
                            <mat-label>Mật khẩu hiện tại</mat-label>
                            <input matInput type="password" name="currentPassword" [(ngModel)]="passwords.current"
                                required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full mb-4">
                            <mat-label>Mật khẩu mới</mat-label>
                            <input matInput type="password" name="newPassword" [(ngModel)]="passwords.new" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full mb-4">
                            <mat-label>Xác nhận mật khẩu mới</mat-label>
                            <input matInput type="password" name="confirmPassword" [(ngModel)]="passwords.confirm"
                                required>
                        </mat-form-field>
                        <div class="flex justify-end gap-4">
                            <button mat-raised-button color="primary" (click)="changePassword()">
                                Đổi mật khẩu
                            </button>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Tài Khoản">
                <div class="p-4">
                    <div class="mb-8 lg:p-8 p-2 bg-white border rounded-lg">
                        <div class="text-xl font-bold text-gray-900 mb-4">Thông tin thanh toán</div>
                        <div class="text-gray-500 mb-4">Cập nhật thông tin thanh toán của bạn.</div>
                        <mat-form-field appearance="outline" class="w-full mb-4">
                            <mat-label>Số tài khoản</mat-label>
                            <input matInput name="accountNumber" [(ngModel)]="profile().payment.accountNumber" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full mb-4">
                            <mat-label>Tên ngân hàng</mat-label>
                            <input matInput name="bankName" [(ngModel)]="profile().payment.bankName" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full mb-4">
                            <mat-label>Tên chủ tài khoản</mat-label>
                            <input matInput name="accountHolder" [(ngModel)]="profile().payment.accountHolder" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full mb-4">
                            <mat-label>Chi nhánh</mat-label>
                            <input matInput name="branch" [(ngModel)]="profile().payment.branch">
                        </mat-form-field>
                        <div class="flex justify-end gap-4">
                            <button mat-raised-button color="primary" (click)="doUpdatePayment()">
                                Cập Nhật
                            </button>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>