<div class="flex flex-row justify-between items-center space-x-2 p-2">
  <button mat-icon-button color="primary" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="font-bold truncate">{{DetailDathang().madncc||'Không có mã đặt hàng'}} </div>
  <div class="flex flex-row space-x-2 items-center">
    <button *ngIf="DetailDathang().status=='dadat'" mat-flat-button color="primary" [disabled]="DetailDathang().status=='dagiao'" (click)="GiaoDonhang()"> Đã Giao</button>
    <button *ngIf="DetailDathang().status=='dagiao'" mat-flat-button color="primary" [disabled]="DetailDathang().status=='danhan'" (click)="Danhanhang()"> Đã Nhận</button>
    <button mat-icon-button color="primary" (click)="PrintDathang()"><mat-icon>image</mat-icon></button>
    <button mat-icon-button color="primary" (click)="printContent()">
      <mat-icon>print</mat-icon>
    </button>
    @if(DetailDathang().status!=='danhan') {
    <!-- <mat-slide-toggle [(ngModel)]="DetailDathang().isActive" [disabled]="!isEdit()">{{DetailDathang().isActive?'Hiển Thị':'Ẩn'}}</mat-slide-toggle> -->
    <button mat-icon-button color="primary" *ngIf="isEdit()" (click)="handleDathangAction()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button color="primary" *ngIf="!isEdit()" (click)="toggleEdit()">
      <mat-icon>edit</mat-icon>
    </button>
    <!-- <button mat-icon-button color="warn" (click)="toggleDelete()">
      <mat-icon>delete</mat-icon>
    </button> -->
    }
    @else {
     <button mat-flat-button color="primary" [disabled]="DetailDathang().status=='danhan'"> Đã Nhận</button>
    }
  </div>
</div>

<div class="relative flex flex-col w-full p-4 overflow-auto">
    <ng-container *ngIf="isDelete()">
      <div class="flex flex-col space-y-4 items-center justify-center">
        <div class="font-bold text-2xl">Bạn chắc chắn muốn xoá không?</div>
        <div class="flex flex-row space-x-2 items-center justify-center">
          <button mat-flat-button color="primary" (click)="DeleteData()">Đồng Ý</button>
          <button mat-flat-button color="warn" (click)="toggleDelete()">Huỷ Bỏ</button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!isDelete()">
  <div id="printContent" class="min-w-[800px] flex flex-col space-y-6 items-center p-2 border rounded-lg">
    <div class="w-full flex flex-col space-y-4 items-center justify-center"> 
        <div class="font-bold text-[18px] uppercase">Đặt Hàng Nhà Cung Cấp</div>
      <div class="font-bold text-[18px] uppercase {{DetailDathang()?.nhacungcapId?'':'text-red-700 italic'}}">{{getName(DetailDathang()?.nhacungcapId)?.name||"Chưa Chọn Khách Hàng"}}</div>
      <div *ngIf="isEdit() && DetailDathang()?.nhacungcap?.ghichu" class="p-2 rounded-lg border text-red-600" [innerHTML]="DetailDathang().nhacungcap.ghichu"></div>
      <div *ngIf="isEdit()" class="grid lg:grid-cols-3 grid-cols-1 gap-4">
 
  
        <!-- <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>Bảng Giá</mat-label>
          <mat-select [(ngModel)]="DetailDathang().banggiaId" [ngModelOptions]="{ standalone: true }"
            (selectionChange)="SelectBanggia($event)">
            <div class="w-full flex flex-col">
              <mat-form-field appearance="outline" class="w-full p-2" subscriptSizing="dynamic">
                <input matInput (input)="DoFindBanggia($event)" placeholder="Tìm Kiếm" />
              </mat-form-field>
              <div class="overflow-y-auto max-h-44">
                @for (item of filterBanggia; track item.id) {
                <mat-option [value]="item.id">{{item.title}}</mat-option>
                }
              </div>
            </div>
          </mat-select>
        </mat-form-field> -->

        <!-- <mat-form-field [appearance]="'outline'" [subscriptSizing]="'dynamic'">
          <mat-label>Ngày Giao Hàng</mat-label>
          <input matInput [matDatepicker]="datepicker" [(ngModel)]="DetailDathang().ngaygiao" [ngModelOptions]="{ standalone: true }" />
          <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full lg:col-span-3" subscriptSizing="dynamic">
          <mat-label>Ghi Chú Đơn Hàng</mat-label>  
          <textarea matInput [(ngModel)]="DetailDathang().ghichu" [ngModelOptions]="{ standalone: true }" placeholder="Vui lòng Nhập Ghi Chú"></textarea>   
       </mat-form-field> -->
      </div>

      <!-- <div class="w-full flex items-start"><strong>Địa Chỉ : </strong> {{DetailDathang()?.nhacungcap?.diachi}}</div>
      <div class="w-full flex items-start"><strong>Ghi Chú : </strong> {{DetailDathang()?.ghichu}}</div> 
      <div class="w-full flex items-start"><strong>Số Điện Thoại : </strong> {{DetailDathang()?.nhacungcap?.sdt}}</div>
      <div class="w-full flex items-start"><strong>Tổng khối lượng  : {{TinhTong(DetailDathang().sanpham,'slgiao')|number:'1.0-2'}}</strong> </div>
      -->
      <div *ngIf="isEdit()" class="w-full flex flex-col overflow-y-auto">
        @defer () {
          <div class="cursor-pointer w-full relative flex lg:flex-row lg:space-y-2 space-y-0 flex-col space-x-2 justify-between items-center p-2 bg-white rounded-lg">
            <div class="w-full flex flex-row space-x-2 items-center">
              <!-- <mat-form-field appearance="outline" class="w-full" subscriptSizing="dynamic">
                   <mat-label>Mã Đặt Hàng</mat-label>
                  <input matInput [(ngModel)]="DetailDathang().madncc"  [ngModelOptions]="{ standalone: true }" placeholder="Vui lòng Nhập Mã Đặt Hàng" />
              </mat-form-field>  -->

              <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>Nhà Cung Cấp</mat-label>
                <mat-select [(ngModel)]="DetailDathang().nhacungcapId" [ngModelOptions]="{ standalone: true }"
                  (selectionChange)="SelectNhacungcap($event)">
                  <div class="w-full flex flex-col">
                    <mat-form-field appearance="outline" class="w-full p-2" subscriptSizing="dynamic">
                      <input matInput (input)="DoFindNhacungcap($event)" placeholder="Tìm Kiếm" />
                    </mat-form-field>
                    <div class="overflow-y-auto max-h-44">
                      @for (item of filterNhacungcap; track item.id) {
                      <mat-option [value]="item.id">{{item.name}}</mat-option>
                      }
                    </div>
                  </div>
                </mat-select>
              </mat-form-field>
                <!-- <mat-form-field class="w-full" appearance="outline" subscriptSizing="dynamic">
                  <mat-label>Sản Phẩm</mat-label>
                  <mat-select (selectionChange)="SelectSanpham($event)">
                    <div class="w-full flex flex-col">
                      <mat-form-field appearance="outline" class="w-full p-2" subscriptSizing="dynamic">
                        <input matInput (input)="DoFindSanpham($event)" placeholder="Tìm Kiếm" />
                      </mat-form-field>
                      <div class="overflow-y-auto max-h-44">
                        @for (item of filterSanpham; track item.id) {
                        <mat-option [value]="item.id">{{item.title}}</mat-option>
                        }
                        @empty {
                        <mat-option disabled>Không có dữ liệu</mat-option>
                        }
                      </div>
                    </div>
                  </mat-select>
                </mat-form-field> -->

                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                    <mat-label>Tìm Kiếm</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Tìm Kiếm" />
                </mat-form-field>
                <button mat-flat-button color="primary" [disabled]="!isEdit()" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                  {{ListFilter.length}}  Sản Phẩm
                </button>
               <mat-menu  #menu="matMenu">
                           <div (click)="$event.stopPropagation()"  class="cursor-pointer flex flex-col space-y-4 p-3">                                        
                           <div class="relative w-full">
                               <input type="text"
                                   placeholder="Tìm Kiếm..." (keyup)="doFilterSanpham($event)"
                                   class="block w-full pl-10 pr-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-lg focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40">
                               <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                   <span class="material-symbols-outlined text-gray-500">search</span>
                               </div>
                           </div>
                           <div class="flex flex-row space-x-2 items-center justify-between">
                               <div class="flex flex-row space-x-2 items-center">
                                   <span class="text-xs text-blue-600 underline" (click)="ChosenAll(filterSanpham)">Chọn Tất Cả {{ListFilter.length}}</span>
                                   <span class="text-xs text-blue-600 underline" (click)="EmptyFiter()">Xoá</span>
                               </div>
      
                               <span class="text-xs text-blue-600 underline" (click)="ResetFilter()">Reset</span>
                           </div>
                           <div class="w-full flex flex-col space-y-2 max-h-44 overflow-auto">
                                   <div *ngFor="let item of filterSanpham; trackBy:trackByFn" (click)="ChosenItem(item)" class="flex flex-row space-x-2 items-center p-2 rounded-lg hover:bg-slate-100">
                                      <span *ngIf="CheckItem(item)" class="material-symbols-outlined text-blue-600">check</span>   
                                      {{item.title}}                      
                                   </div>
                           </div>
                           <div class="flex flex-row space-x-2 items-end justify-end">
                               <button mat-flat-button color="warn" (click)="menuTrigger.closeMenu()">Đóng</button>
                               <button mat-flat-button color="primary" (click)="ApplyFilterColum(menuTrigger)" >Áp Dụng</button>
                           </div>
                           </div>
               </mat-menu>
                <button [disabled]="!isEdit()" matTooltip="Tải dữ liệu từ drive" (click)="LoadDrive()" color="primary" mat-icon-button>
                  <mat-icon>cloud_download</mat-icon>
              </button>
                   <button [disabled]="!isEdit()" matTooltip="Làm Trống Giỏ Hàng" (click)="EmptyCart()" color="warn" mat-icon-button>
                     <mat-icon>delete</mat-icon>
                 </button>

            </div>
        </div>
          <div class="w-full overflow-auto">
            <table class="!border w-full cursor-pointer" mat-table [dataSource]="dataSource" matSort>
                @for (column of displayedColumns; track column) {
                <ng-container [matColumnDef]="column">
                  <th class="whitespace-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span class="line-clamp-4 me-4">
                      {{ ColumnName[column] }}
                    </span>
                  </th>
                  <td mat-cell *matCellDef="let row; let idx = index">
                    @switch (column) {
                      @case ('STT') {
                      <span class="max-w-20 line-clamp-4 flex flex-row items-center">
                         <span>{{ idx + 1 }} </span>
                        <button mat-icon-button color="warn" (click)="RemoveSanpham(row)"><mat-icon>delete</mat-icon></button>
                      </span>
                      }
                    @case ('sldat') {
                   <div *ngIf="dathangId()==='new' || DetailDathang().status==='dadat'" class="flex flex-row space-x-1 items-center">
                    <div
                      [contentEditable]="true"
                      (blur)="UpdateBlurValue($event,idx, row, 'sldat','number')"
                      (keydown.enter)="EnterUpdateValue($event,idx, row, 'sldat','number')"
                      class="sldat-input p-2 min-w-28 bg-slate-200 focus:border rounded-lg focus:border-blue-600 focus:bg-slate-100 focus:outline-none"
                    >
                    {{ row[column]||0|number:'1.0-2' }}
                     </div>

                     <!-- <div class="text-xs text-red-600 font-bold">Gợi ý ({{row.goiy}})</div> -->
                     </div>
                     <div *ngIf="dathangId()!=='new' && DetailDathang().status !== 'dadat'">
                       {{ row[column]||0|number:'1.0-2' }}
                     </div>
                    }
                    @case ('slgiao') {
                    <div *ngIf="DetailDathang().status === 'dadat'"
                      [contentEditable]="true"
                      (blur)="UpdateBlurValue($event,idx, row, 'slgiao','number')"
                      (keydown.enter)="EnterUpdateValue($event,idx, row, 'slgiao','number')"
                      class="slgiao-input p-2 min-w-28 bg-slate-200 focus:border rounded-lg focus:border-blue-600 focus:bg-slate-100 focus:outline-none"
                    >
                    {{ row[column]||0 }}
                     </div>
                     <div *ngIf="DetailDathang().status !== 'dadat'">
                       {{ row[column]||0|number:'1.0-2' }}
                     </div>
                    }
                    @case ('slnhan') {
                    <div *ngIf="DetailDathang().status === 'dagiao'"
                      [contentEditable]="true"
                      (blur)="UpdateBlurValue($event,idx, row, 'slnhan','number')"
                      (keydown.enter)="EnterUpdateValue($event,idx, row, 'slnhan','number')"
                      class="slnhan-input p-2 min-w-28 bg-slate-200 focus:border rounded-lg focus:border-blue-600 focus:bg-slate-100 focus:outline-none"
                    >
                    {{ row[column]||0 }}
                     </div>
                    <div *ngIf="DetailDathang().status !== 'dagiao'">
                       {{ row[column]||0|number:'1.0-2' }}
                     </div>
                    }
                    @case ('gianhap') {
                    <div>{{ row[column]||0|number:'1.0-2' }}</div>
                    }
                    @case ('ttnhan') {
                    <div *ngIf="DetailDathang().status === 'dagiao'"
                      [contentEditable]="true"
                      (blur)="UpdateBlurValue($event,idx, row, 'ttnhan','number')"
                      (keydown.enter)="EnterUpdateValue($event,idx, row, 'ttnhan','number')"
                      class="ttnhan-input p-2 min-w-28 bg-slate-200 focus:border rounded-lg focus:border-blue-600 focus:bg-slate-100 focus:outline-none"
                    >
                    {{ row[column]||0 }}
                     </div>
                    <div *ngIf="DetailDathang().status !== 'dagiao'">
                       {{ row[column]||0|number:'1.0-2' }}
                     </div>
                    }
                    @case ('ghichu') {
                    <div
                      [contentEditable]="true"
                      (blur)="UpdateBlurValue($event,idx, row, 'ghichu','string')"
                      (keydown.enter)="EnterUpdateValue($event,idx, row, 'ghichu','string')"
                      class="ghichu-input p-2 min-w-28 bg-slate-200 focus:border rounded-lg focus:border-blue-600 focus:bg-slate-100 focus:outline-none"
                    >
                    {{ row[column]||'' }}
                     </div>
                    }
                    @default {
                    <span class="max-w-40 line-clamp-4">
                      {{ row[column] }}
                    </span>
                    }
                    }
                  </td>
                  <td mat-footer-cell *matFooterCellDef>
                    @switch (column) {
                      @case ('STT') {
                        <span class="font-bold">Tổng:</span>
                      }
                      @case ('sldat') {
                        <span class="font-bold">{{ TinhTong(DetailDathang().sanpham, 'sldat') | number:'1.0-2' }}</span>
                      }
                      @case ('slgiao') {
                        <span class="font-bold">{{ TinhTong(DetailDathang().sanpham, 'slgiao') | number:'1.0-2' }}</span>
                      }
                      @case ('slnhan') {
                        <span class="font-bold">{{ TinhTong(DetailDathang().sanpham, 'slnhan') | number:'1.0-2' }}</span>
                      }
                      @case ('ttnhan') {
                        <span class="font-bold">{{ TinhTong(DetailDathang().sanpham, 'ttnhan') | number:'1.0-2' }}</span>
                      }
                      @default {
                        <span></span>
                      }
                    }
                  </td>
                </ng-container>
                }
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell p-4" colspan="4">Không tìm thấy</td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="dataSource.data.length"></mat-paginator>
        </div>
        }
      </div>   
      
      <table id="chuphinh" *ngIf="!isEdit()" class="border-collapse border mt-4">
        <thead>
          <tr class="border">
            <th class="border p-2">
                <span>STT</span>
            </th>
            <th class="whitespace-nowrap border p-2">Tên sản phẩm</th>
            <th class="whitespace-nowrap border p-2">ĐVT</th>
            <th class="whitespace-nowrap border p-2">SL Đặt</th>
            <!-- <th class="border p-2 max-w-10">SL Giao</th>
            <th class="border p-2 max-w-10">SL Nhận</th> -->
            <th class="border p-2">Ghi chú</th>
          </tr>
        </thead>
        <tbody>
          @for (item of DetailDathang().sanpham; track item.id; let idx = $index) {
            <tr class="border">
              <td class="whitespace-nowrap border p-2 text-center">{{idx+1}}</td>
              <td class="whitespace-nowrap border p-2">{{item.title}}</td>
              <td class="whitespace-nowrap border p-2 text-center">{{item.dvt}}</td>
              <td class="whitespace-nowrap border p-2 text-end max-w-10">{{item.sldat|number:'1.0-2'}}</td>
              <!-- <td class="border p-2 text-end max-w-10">{{item.slgiao|number:'1.0-2'}}</td>
              <td class="border p-2 text-end max-w-10">{{item.slnhan||0|number:'1.0-2'}}</td> -->
              <td class="border p-2">{{item.ghichu}}</td>
            </tr>
          }
          <tr class="border">
            <td colspan="3" class="border p-2 text-start">Tổng:</td>
            <td class="border p-2 text-end font-bold">{{TinhTong(DetailDathang().sanpham,'sldat')|number:'1.0-2'}}</td>
            <!-- <td class="border p-2 text-end font-bold">{{TinhTong(DetailDathang().sanpham,'slgiao')|number:'1.0-2'}}</td>
            <td class="border p-2 text-end font-bold">{{TinhTong(DetailDathang().sanpham,'slnhan')|number:'1.0-2'}}</td> -->
            <td class="border p-2 text-end"></td>
          </tr>
        </tbody>
      </table>  
    </div>
  </div>
    </ng-container> 
</div>