# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database

# `openssl rand -base64 32`

# Database
DATABASE_URL="postgresql://0GWGwCMtouJ8G6v:rRxYyjxDv30H84F@116.118.85.23:5432/webseo?schema=public&connection_limit=20&pool_timeout=15"

# NextAuth
AUTH_URL=http://localhost:3000/api/auth
AUTH_SECRET="webseo2025"

# Optional: External services
CLOUDINARY_URL="cloudinary://your-cloudinary-url"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-app-password"