<mat-drawer-container class="w-full h-full" autosize>
    <mat-drawer #drawer class="flex flex-col lg:!w-2/3 !w-full h-full" [position]="'end'">
        <router-outlet></router-outlet>
    </mat-drawer>
    <div class="flex flex-col space-y-2 h-screen-12 w-full justify-between p-2">
        <div class="flex flex-col space-y-2 w-full p-2">
            <div
                class="cursor-pointer w-full flex flex-row space-x-2 items-center justify-between bg-white rounded-lg p-2">
                <div class="flex flex-row space-x-2 items-center">
                    <div class="relative">
                        <input type="text" placeholder="Tìm Kiếm..." #input (keyup)="applyFilter($event)"
                            class="block pl-10 pr-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-lg focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <span class="material-symbols-outlined text-gray-500">search</span>
                        </div>
                    </div>
                    <button mat-flat-button color="primary" (click)="create()">
                        <span>Thêm</span>
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </div>
                <div class="flex flex-row space-x-2 items-center">
                    <span class="whitespace-nowrap p-2 rounded-lg bg-slate-200">
                        {{CountItem}} Phiếu Kho
                    </span>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>tune</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <div class="p-4">
                            <mat-form-field appearance="outline" class="w-full" subscriptSizing="dynamic">
                                <input (input)="doFilterColumns($event)" (click)="$event.stopPropagation()" matInput
                                    placeholder="Tìm Kiếm" />
                                <mat-icon matPrefix>search</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col max-h-80 overflow-auto">
                            @for (item of FilterColumns; track item.key) {
                            <button mat-menu-item (click)="toggleColumn(item);$event.stopPropagation()">
                                <mat-icon>{{item.isShow?'check_box':'check_box_outline_blank'}}</mat-icon>
                                <span>{{item.value}}</span>
                            </button>
                            }
                        </div>
                    </mat-menu>
                </div>
            </div>

            <div class="w-full opverflow-auto">
                <table class="!border w-full cursor-pointer" mat-table [dataSource]="dataSource" matSort>
                    @for (column of displayedColumns; track column) {
                    <ng-container [matColumnDef]="column">
                        <th class="whitespace-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header>
                            <span class="max-w-40 line-clamp-4">
                                {{ ColumnName[column] }}
                            </span>
                        </th>
                        <td mat-cell *matCellDef="let row;let idx = index">
                            @switch (column) {
                                @case ('STT') {
                                    <span class="max-w-40 line-clamp-4">
                                        {{ idx + 1 }}
                                    </span>
                                    }
                                @case ('idKhohang') {
                                    <span class="max-w-40 line-clamp-4">
                                        {{ getKhohang(row[column])?.Title }}
                                    </span>
                                    }
                                @case ('CreateAt') {
                                    <span class="max-w-40 line-clamp-4">
                                        {{ row[column]|date:'dd/MM/yyyy' }}
                                    </span>
                                    }
                                @case ('Ngaylapphieu') {
                                    <span class="max-w-40 line-clamp-4">
                                        {{ row[column]|date:'dd/MM/yyyy' }}
                                    </span>
                                    }
                                @default
                                {
                                  <span class="max-w-40 line-clamp-4">
                                    {{ row[column] }}
                                  </span>
                                }
                                }
                        </td>
                    </ng-container>
                    }
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToDetail(row);"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">Không tìm thấy "{{input.value}}"</td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </div>
</mat-drawer-container>