:host {
  display: block;
  width: 100%;
  height: 100%;
}

.snackbar-success {
  background-color: #4caf50 !important;
  color: white !important;
}

.snackbar-error {
  background-color: #f44336 !important;
  color: white !important;
}

.snackbar-warning {
  background-color: #ff9800 !important;
  color: white !important;
}

mat-form-field {
  width: 100%;
}

.mat-mdc-raised-button:disabled {
  opacity: 0.6;
}
