.image-block {
  padding: 5px;

  img {
    max-width: 100%;
    display: block;
  }

  .placeholder {
    border: 1px dashed #ccc;
    padding: 20px;
    text-align: center;
    color: #aaa;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}