<div class="map">
  @for (row of map; track row) {
    <div class="row">
      @for (tile of row; track tile) {
        <div class="tile" (click)="selectTile(tile)"
          [class.selected]="selectedCharacter && tile.occupiedBy?.id === selectedCharacter.id">
          @if (tile.occupiedBy) {
            <span [class.player]="tile.occupiedBy.team === 'player'" [class.enemy]="tile.occupiedBy.team === 'enemy'">
              {{ tile.occupiedBy.name }} ({{ tile.occupiedBy.hp }}/{{ tile.occupiedBy.maxHp }})
            </span>
          }
        </div>
      }
    </div>
  }
</div>
<div class="controls">
  <button (click)="endTurn()" [disabled]="currentTurn !== 'player'">End Turn</button>
</div>