<div class="map">
  <div class="row" *ngFor="let row of map">
    <div class="tile" *ngFor="let tile of row" (click)="selectTile(tile)"
         [class.selected]="selectedCharacter && tile.occupiedBy?.id === selectedCharacter.id">
      <span *ngIf="tile.occupiedBy" [class.player]="tile.occupiedBy.team === 'player'" [class.enemy]="tile.occupiedBy.team === 'enemy'">
        {{ tile.occupiedBy.name }} ({{ tile.occupiedBy.hp }}/{{ tile.occupiedBy.maxHp }})
      </span>
    </div>
  </div>
</div>
<div class="controls">
  <button (click)="endTurn()" [disabled]="currentTurn !== 'player'">End Turn</button>
</div>