<div class="flex flex-col space-y-4 p-4">
    <div class="text-xl font-bold">{{Detail.title}}</div>
    <div class="text-sm">{{Detail.description}}</div>
    <div class="flex flex-col space-y-2" *ngFor="let block of Detail?.UserguidBlocks">
        <div class="font-bold">{{ block.title }}</div>
        <div *ngIf="block.type === 'text'">
            <p>{{ block.description }}</p>
        </div>
        <div *ngIf="block.type === 'image'">
            <img [src]="block.imageUrl" alt="{{ block.imageAlt }}" />
        </div>
        <div *ngIf="block.type === 'video'">
            <video controls>
                <source [src]="block.videoUrl" [type]="block.videoType" />
                Your browser does not support video.
            </video>
        </div>    
    </div>
</div>