<div class="w-full h-full rounded-lg">
    <div class="grid lg:grid-cols-2 gap-16">
        <div *ngFor="let item of ListDanhmuc; let i=index"
            class="flex flex-col space-y-4 p-4 bg-gray-100 rounded-lg shadow">
            <div class="flex flex-row space-x-2 items-center">
                <mat-icon>category</mat-icon>
                <span class="text-xl font-semibold">{{ item.name }}</span>
            </div>

            <div class="flex flex-col space-y-2" *ngFor="let item of getListSanpham(item); let i=index">
                <div class="flex flex-row space-x-2 items-center">
                    <mat-icon>shopping_bag</mat-icon>
                    <span class="text-md">{{ item.name }}</span>
                    <span class="text-md">({{ item.donvitinh }})</span>
                </div>
                <span class="grid grid-cols-2 gap-4">
                    <span class="flex flex-row space-x-1 items-center p-2 rounded-lg bg-white" *ngFor="let item1 of item.gia; let i=index">
                        <mat-icon>label</mat-icon>
                        <span>{{ item1.loai }}</span>
                        <span>{{ item1.gia | number:'1.0-0' }} đ</span>
                    </span>
                </span>
            </div>

        </div>
    </div>