<!-- <div class="w-full overflow-auto">
    <table class="!border w-full cursor-pointer" mat-table [dataSource]="dataSource()" matSort>
        @for (column of displayedColumns; track column) {
        <ng-container [matColumnDef]="column">
            <th class="whitespace-nowrap" mat-header-cell *matHeaderCellDef mat-sort-header>
                <span class="max-w-40 line-clamp-4 me-4">
                    {{ ColumnName[column] }}
                </span>
            </th>
            <td mat-cell *matCellDef="let row; let idx = index">
                @switch (column) {
                @case ('STT') {
                <span class="max-w-40 line-clamp-4">
                    {{ idx + 1 }}
                </span>
                }
                @case ('createdAt') {
                <span class="max-w-40 line-clamp-4">
                    {{ row[column]|date:'dd/MM/yyyy'}}
                </span>
                }
                @case ('isActive') {
                <span class="max-w-40 line-clamp-4">
                    @if (row[column]) {
                    <mat-icon class="text-green-500">check_circle</mat-icon>
                    }
                    @else {
                    <mat-icon class="text-red-500">cancel</mat-icon>
                    }
                </span>
                }
                @case ('updatedAt') {
                <span class="max-w-40 line-clamp-4">
                    {{ row[column]|date:'dd/MM/yyyy'}}
                </span>
                }
                @default {
                <span class="max-w-40 line-clamp-4">
                    {{ row[column] }}
                </span>
                }
                }
            </td>
        </ng-container>
        }
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-slate-100 {{banggiaId()==row.id?'!bg-slate-200':''}}" (click)="goToDetail(row);"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell p-4" colspan="4">Không tìm thấy</td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div> -->