<div class="flex flex-col space-y-2 justify-center">
    <div class="bg-white shadow-md sticky bottom-0 h-[100px]">
        <div class="container mx-auto flex justify-between items-center py-4">
            <a [href]="'/'" class="relative flex flex-col space-y-2 p-2">
                <img [src]="'images/logo-timona-moi.webp'" class="m-auto h-10 object-cover" alt="Logo">
            </a>
            <!-- <ul class="flex space-x-6">
                <li><a href="/" class="text-gray-800 hover:text-primary">Trang Chủ</a></li>
                <li><a href="/about" class="text-gray-800 hover:text-primary">Đăng Ký CTV</a></li>
                <li><a href="/products" class="text-gray-800 hover:text-primary">Hỗ Trợ</a></li>
                <li><a href="/contact" class="text-gray-800 hover:text-primary">FAQ</a></li>
            </ul> -->
            <div class="flex space-x-2">
            <button [routerLink]="['/gioithieuctv']" routerLinkActive="!bg-blue-200"  mat-flat-button>Trang Chủ</button>
            <button [routerLink]="['/dangkyctv']" routerLinkActive="!bg-blue-200" mat-flat-button>Đăng Ký CTV</button>
            <button [routerLink]="['/hotroctv']" routerLinkActive="!bg-blue-200" mat-flat-button>Hỗ Trợ</button>
            <button [routerLink]="['/faqctv']" routerLinkActive="!bg-blue-200" mat-flat-button>FAQ</button>
        </div>
            <button mat-flat-button color="primary">Đăng Nhập</button>
        </div>
    </div> <!-- Fixed missing closing tag for div -->

    <router-outlet></router-outlet>
    

    <footer class="bg-gray-800 text-white py-4 mt-16">
        <div class="container mx-auto text-center">
            <p>&copy; 2023 Timona. All rights reserved.</p>
        </div>
    </footer>
    
</div>