<div class="flex flex-row justify-between items-center space-x-2 p-2">
  <button mat-icon-button color="primary" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="font-bold">{{ DetailResource()?.title || 'Không có dữ liệu' }}</div>
  <div class="flex flex-row space-x-2 items-center">
    <mat-slide-toggle [(ngModel)]="DetailResource().isActive" [disabled]="!isEdit()">{{DetailResource().isActive?'Hiển Thị':'Ẩn'}}</mat-slide-toggle>
    <button mat-icon-button color="primary" *ngIf="isEdit()" (click)="handleResourceAction()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button color="primary" *ngIf="!isEdit()" (click)="toggleEdit()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>

<div class="relative flex flex-col w-full p-4 overflow-auto">
  <ng-container *ngIf="isDelete()">
    <div class="flex flex-col space-y-4 items-center justify-center">
      <div class="font-bold text-2xl">Bạn chắc chắn muốn xoá không?</div>
      <div class="flex flex-row space-x-2 items-center justify-center">
        <button mat-flat-button color="primary" (click)="DeleteData()">Đồng Ý</button>
        <button mat-flat-button color="warn" (click)="toggleDelete()">Huỷ Bỏ</button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!isDelete()">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <mat-form-field appearance="outline">
        <mat-label>Tiêu Đề</mat-label>
        <input matInput [(ngModel)]="DetailResource().title" [disabled]="!isEdit()" placeholder="Vui lòng nhập Tiêu Đề"/>
      </mat-form-field>
     <mat-form-field appearance="outline">
       <mat-label>Danh Mục</mat-label>
       <mat-select [(ngModel)]="DetailResource().category">
         <mat-option>--Chọn Danh Mục--</mat-option>
         <mat-option value="banner">Banner</mat-option>
         <mat-option value="socialmedia">Social Media</mat-option>
         <mat-option value="email">Email</mat-option>
         <mat-option value="video">Video</mat-option>
       </mat-select>
     </mat-form-field>  
     <div class="col-span-2 flex flex-row space-x-2 items-center">
      <ng-container *ngIf="DetailResource().url">
        <img [src]="ImageURL + '/' + DetailResource().url" alt="File Image" class="w-32 h-32 object-cover rounded-lg">
      </ng-container>
       <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
          <mat-label>Liên kết</mat-label>
          <input matInput [(ngModel)]="DetailResource().url" [disabled]="!isEdit()"/>
          <button (click)="openChosenFileDialog(ChosenFileDialog)" [disabled]="!isEdit()" matIconSuffix mat-icon-button color="primary"><mat-icon>upload</mat-icon></button>
      </mat-form-field>
      
      </div>
      <mat-form-field class="lg:col-span-2" appearance="outline">
        <mat-label>Mô Tả</mat-label>
        <textarea matInput [(ngModel)]="DetailResource().description" [disabled]="!isEdit()" placeholder="Vui lòng nhập Mô Tả"></textarea>
      </mat-form-field>
    </div>
  </ng-container>
</div>
<ng-template #ChosenFileDialog>
  <mat-dialog-content class="relative !h-screen !max-h-screen w-screen flex flex-col space-y-8 items-center justify-center">
      <button class="!absolute top-0 right-0" mat-dialog-close="false" mat-icon-button><mat-icon>close</mat-icon></button>
      <div class="font-bold">File Manager</div>
      <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-4">
        <div class="cursor-pointer" *ngFor="let item of ListFilemanager(); let i=index">
          <div class="flex flex-col space-y-2 items-center justify-center hover:bg-gray-100 border p-2 rounded-lg" (click)="handleChooseFile(item)">
            <img [src]="ImageURL +'/'+item.url" alt="File Image" class="w-32 h-32 object-cover rounded-lg">
            <div class="text-sm font-bold">{{ item.title }}</div>
            <div class="text-sm">{{ item.fileType }}</div>
            <div class="text-sm">{{ item.fileSize }}</div>
          </div>
        </div>
      </div>
  </mat-dialog-content>
</ng-template>