rausach_json
node_modules
dist
.env
.git
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
.idea
.DS_Store
storage
uploads
backup
docs
*.pdf
*.xlsx
*.xlsb
*.json
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.build.json
!nest-cli.json
!prisma/schema.prisma
!prisma/migrations

